---
function downloadPublicImage(url: URL) {
  throw new Error("Function not implemented.");
}

import * as interfaces from "../../lib/interfaces.js";
import {
  getPosts,
  getAllPosts,
  getRankedPosts,
  getPostBySlug,
  getPostsByTag,
  getBlock,
  getAllTags,
  getAllBlocksByBlockId,
  downloadFile,
} from "../../lib/notion/client.js";
import {
  getPostLink,
  filePath,
  extractTargetBlocks,
  importCoverImage,
} from "../../lib/blog-helpers.js";
import Layout from "../../layouts/NotionLayout.astro";
import PostDate from "../../components/Notion/PostPublishDate.astro";
import PostTags from "../../components/Notion/PostTags.astro";
import PostTitle from "../../components/Notion/PostTitle.astro";
import PostBody from "../../components/Notion/PostBody.astro";
import PostRelativeLink from "../../components/Notion/PostRelativeLink.astro";
import BlogPostsLink from "../../components/Notion/BlogPostsLink.astro";
import BlogTagsLink from "../../components/Notion/BlogTagsLink.astro";
import styles from "../../styles/blog.module.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image, Picture } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getAllPosts();
  return posts.map((post: interfaces.Post) => ({
    params: { slug: post.Slug },
  }));
}

const { slug } = Astro.params;

const post = await getPostBySlug(slug);
if (!post) {
  throw new Error(`Post not found. slug: ${slug}`);
}

const [blocks, allPosts, rankedPosts, recentPosts, tags, postsHavingSameTag] =
  await Promise.all([
    getAllBlocksByBlockId(post.PageId),
    getAllPosts(),
    getRankedPosts(),
    getPosts(5),
    getAllTags(),
    getPostsByTag(post.Tags[0]?.name, 6),
  ]);

const fileAtacchedBlocks = extractTargetBlocks("image", blocks)
  .concat(extractTargetBlocks("file", blocks))
  .filter((block) => {
    if (!block) {
      return false;
    }
    const imageOrFile = block.Image || block.File;
    return imageOrFile && imageOrFile.File && imageOrFile.File.Url;
  });

// Download files in the body
await Promise.all(
  fileAtacchedBlocks
    .map(async (block) => {
      const expiryTime = (block.Image || block.File)!.File!.ExpiryTime;
      if (Date.parse(expiryTime!) > Date.now()) {
        return Promise.resolve(block);
      }
      return getBlock(block.Id);
    })
    .map((promise) =>
      promise.then((block) => {
        let url!: URL;
        try {
          url = new URL((block.Image || block.File)!.File!.Url);
        } catch (err) {
          console.log("Invalid file URL");
          return Promise.reject();
        }
        return Promise.resolve(url);
      })
    )
    .map((promise) => promise.then(downloadFile))
);

// Public image
let publicImage = "";
if (post.Cover) {
  const coverUrl = new URL(post.Cover!.Url);
  const imagename = decodeURIComponent(
    coverUrl.pathname.split("/").slice(-1)[0]
  );
  publicImage = `/notion/${imagename}`;
}

// Get images
const images = await Astro.glob(
  "/src/assets/notion/**/*.{png,jpg,jpeg,avif,webp}"
);

// Cover image
let image = importCoverImage(post, images);
---

<BaseLayout
  title={"BuildSystems | " + post.Title}
  description={post.Description}
  heroImage={publicImage}
  transition={true}
  current="blog"
>
  <div class={styles.main}>
    <div class="post">
      <h2 transition:name={post.Slug + "-title"}>{post.Title}</h2>
      <!-- <p>
      by {post.data.author} | {formatDate(post.data.publishDate)} | ~ {
        readingTime(post.body).text
      }
     </p> -->
      {
        image && (
          <Image
            src={image}
            alt="Alt text here"
            transition:name={post.Slug + "-image"}
            widths={[300, 700, 1000, 1280, 1400, 1600, image.width]}
            sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, (max-width: 1000px) 1000px, (max-width: 1280px) 1280px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, ${image.width}px`}
          />
        )
      }
      <!-- <article class:list={[styles.post, "content"]}> -->
      <article class:list={[styles.post, "content"]}>
        <PostBody blocks={blocks} />
      </article>
    </div>
  </div>
</BaseLayout>

<style>
  .post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10svh;
  }

  h2 {
    text-align: center;
    text-wrap: balance;
  }

  img {
    width: clamp(200px, 100%, 700px);
    border-radius: var(--card-border-radius);
  }

  @media (max-width: 625px) {
    .post {
      margin-top: 10svh;
    }
  }
</style>
