---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../utils/getPostData";
import { Image } from "astro:assets";

const title = "BuildSystems | Blog";
const description =
  "The place to stay informed about the latest news, regulations, fundings and everything related to the real estate in Germany!";
const image = `/images/heroRendering.webp`;

let allPosts: CollectionEntry<"blog">[] = await getCollection("blog");
allPosts = allPosts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<section class="frame primary-margin-top container-blog-carousel">
  <button class="btn-prev" aria-label="Previous blog post card">
    <svg class="icon">
      <use xlink:href="/assets/icons.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="btn-next" aria-label="Next blog post card">
    <svg class="icon">
      <use xlink:href="/assets/icons.svg#arrow-right"></use>
    </svg>
  </button>
  <div class="blog-carousel">
    {
      allPosts.map((post, index) => {
        const href = "blog/" + post.slug;
        return (
          <a draggable="false" href={href} class="card-link">
            <div class="card">
              <div class="card-text">
                <h3 class="title">{post.data.title}</h3>
                <p class="category">{post.data.category}</p>
                <p class="description">{post.data.description}</p>
                <p class="date">— {formatDate(post.data.publishDate)}</p>
              </div>
              <div>
                <Image
                  transition:name={post.slug}
                  src={post.data.cover}
                  alt={post.data.coverAlt}
                />
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
</section>

<script src="./blog-carousel.ts"></script>
<style>
  .container-blog-carousel {
    position: relative;
    max-width: calc(
      100% - var(--left-padding-general) - var(--right-padding-general)
    );
  }

  .blog-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scroll-padding: 0 0.5rem;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .blog-carousel.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  button {
    cursor: pointer;
    border: none;
  }

  .icon {
    width: 42px;
    height: 42px;
  }

  .btn-prev,
  .btn-next {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    background-color: var(--primary-color);
    opacity: 0.1;
    transition: opacity 0.15s ease-in-out;
    z-index: 1;
    border-radius: 50%;
  }

  .blog-carousel:hover .btn-prev,
  .blog-carousel:hover .btn-next {
    opacity: 0.5;
  }

  .btn-prev:hover,
  .btn-next:hover {
    opacity: 1;
  }

  .btn-prev {
    left: -50px;
  }

  .btn-next {
    right: -50px;
  }

  .card-link {
    margin: 2rem 0.5rem;
    flex: 1 0 25rem;
    scroll-snap-align: start;
    display: flex;
  }

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-cards);
    border-radius: var(--card-border-radius);
    padding: 2rem 1.5rem;
    gap: 0.5rem;
    justify-content: space-between;
    transition:
      filter 0.2s,
      transform 0.2s;
    will-change: transform;
  }

  .card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-after: 5;
    -webkit-hyphenate-limit-before: 7;
    -webkit-hyphenate-limit-chars: 13 5 7;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 12 4 4;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 12 4 4;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 12 4 4;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
    .title {
      text-wrap: balance;
      order: 2;
    }
    .category {
      order: 1;
    }
    .description {
      order: 3;
    }
    .date {
      order: 4;
    }
  }

  .category {
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    width: fit-content;
    padding: 0 1rem;
  }

  .description {
    flex: 1;
  }

  .card:hover {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 1));
    transform: translate3d(0, -5px, 0);
    h3 {
      text-decoration: underline;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 1rem;
  }

  img {
    aspect-ratio: 12/8;
    object-fit: cover;
    object-position: center;
    min-height: 100%;
    min-width: 100%;
    border-radius: var(--card-border-radius);
  }

  .date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  @media (max-width: 1280px) {
    .container-blog-carousel {
      max-width: calc(
        100% - var(--left-padding-desktop) - var(--right-padding-desktop)
      );
    }
  }

  @media (max-width: 750px) {
    .container-blog-carousel {
      max-width: calc(
        100% - var(--left-padding-tablet) - var(--right-padding-tablet)
      );
      margin-left: var(--left-padding-tablet);
      margin-right: var(--right-padding-tablet);
    }

    .btn-prev,
    .btn-next {
      display: none;
    }

    .card:hover {
      filter: none;
      transform: none;
    }
  }
  @media (max-width: 625px) {
    .container-blog-carousel {
      max-width: calc(
        100% - var(--left-padding-mobile) - var(--right-padding-mobile)
      );
      margin-left: var(--left-padding-mobile);
      margin-right: var(--right-padding-mobile);
    }
  }

  @media (max-width: 450px) {
    .card-link {
      flex-basis: calc(100% - (var(--right-padding-tablet) * 4));
    }
  }

  @media (max-width: 420px) {
    .card-link {
      flex-basis: calc(100% - (var(--right-padding-mobile) * 6));
    }
  }
</style>
