---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatDate } from "../../utils/getPostData";
import readingTime from "reading-time";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  heroImage={post.data.heroImage!}
  current="blog">
  <div class="container">
    <div class="title">
      <h1>{post.data.title}</h1>
      <p>by {post.data.author}
      <p>{formatDate(post.data.publishDate)} ~ {readingTime(post.body).text}</p>
    </div>
    <article class="content">
      <Content />
    </article>
  </div>
</BaseLayout>

<style>
  .title {
    text-align: center;
  }

  .title h1 {
    
  }

  .title p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    margin-bottom: 0.7em;
  }

  .container {
    margin-top: 10svh;
    margin-bottom: 10svh;
  }
</style>
