---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatDate } from "../../utils/getPostData";
import readingTime from "reading-time";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={"BuildSystems | " + post.data.title}
  description={post.data.description}
  heroImage={post.data.heroImage!}
  current="blog">
  <div class="container">
    <h1>{post.data.title}</h1>
    <p>
      by {post.data.author}
      <p>{formatDate(post.data.publishDate)} ~ {readingTime(post.body).text}</p>
    </p>
    <article class="content">
      <Content />
    </article>
  </div>
</BaseLayout>

<style>
  .container {
    text-align: center;
  }

  .container p {
    color: var(--text-secondary);
    font-family: var(--font-family-secondary);
  }

  .container p + p {
    margin-bottom: 0.7em;
    text-transform: uppercase;
  }

  .container {
    margin-top: 10svh;
    margin-bottom: calc(6svh + 90px);
  }

  .content {
    text-align: left;
  }
</style>
