---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatDate } from "../../utils/getPostData";
import readingTime from "reading-time";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={"BuildSystems | " + post.data.title}
  description={post.data.description}
  heroImage={post.data.heroImage!}
  current="blog">
  <div class="frame post">
    <h2>{post.data.title}</h2>
    <p>by {post.data.author} 🞄 {formatDate(post.data.publishDate)} 🞄 ~ {readingTime(post.body).text}</p>
    <article class="content">
      <Content />
    </article>
  </div>
</BaseLayout>

<style>
  .post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15svh;
  }

  h2 {
    text-align: center;
  }
  @media (max-width: 625px) {
    .post {
      margin-top: 10svh;
    }
  }
</style>
