---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../utils/getPostData";

const title = "BuildSystems | Blog";
const description = "The place to stay informed about the latest news, regulations, fundings and everything related to the real estate in Germany!";
const image = `/images/heroRendering.webp`;

let allPosts: CollectionEntry<"blog">[] = await getCollection("blog");
allPosts = allPosts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title={title}
  description={description}
  heroImage={image}
  current="blog">
  <div class="blog-container">
    <h2>Blog</h2>
    <h3 class="description">
      The place dedicated to understand the German real estate. Here we cover topics such as circularity, regulations
      and fundings.
    </h3>
    {
      allPosts.map((post, index) => {
        const href = post.slug;
        return (
          <div class="items-container">
            {index !== 0 && <hr />}
            <div class="post-item">
              <div class="post-content">
                <div class="image-container">
                  <img src={post.data.heroImage} />
                </div>
                <div class="post-text">
                  <h3>
                    <a href={href}>{post.data.title}</a>
                  </h3>
                  <p>{post.data.description}</p>
                  <div class="post-item-footer">
                    <span class="post-item-date">— {formatDate(post.data.publishDate)}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .blog-container {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    padding-top: 5svh;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10svh;
    align-items: center;
    max-width: 1400px;
    & .description {
      width: clamp(300px, 60%, 1400px);
      text-align: center;
      margin-bottom: 5svh;
    }
  }

  .items-container {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }

  .post-item {
    flex: 1;
  }

  .post-content {
    display: flex;
    gap: 2rem;
  }

  .image-container {
    width: 200px;
    border-radius: 0.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h2,
  .post-item-footer {
    font-family: var(--font-family-primary);
    font-weight: 500;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  /* hr {
    margin: 60px auto;
  } */
</style>
