---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../utils/getPostData";
import readingTime from "reading-time";

const title = "BuildSystems | Blog";
const description =
  "The place to stay informed about the latest news, regulations, fundings and everything related to the real estate in Germany!";
const image = `/images/heroRendering.webp`;

let allPosts: CollectionEntry<"blog">[] = await getCollection("blog");
allPosts = allPosts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title={title}
  description={description}
  heroImage={image}
  current="blog">
  <div class="frame primary-font-size primary-height primary-margin-top">
    <h2 class="sticky">
      ist stets auf dem aktuellen Stand der <span class="font-secondary green">Branchentrends</span>. Auf unserem Blog
      teilen wir spannende Insights und laden Sie ein, mitzulesen, wie Sie von den Innovationen in der Baubranche
      profitieren können.
    </h2>
  </div>
  <div class="frame blog-container">
    {
      allPosts.map((post, index) => {
        const href = post.slug;
        return (
          <a href={href}>
            <div class="card">
              <div>
                <h3>{post.data.title}</h3>
                <p>{post.data.description}</p>
                <p class="post-item-date">— {formatDate(post.data.publishDate)}</p>
              </div>
              <div class="image-container">
                <img src={post.data.heroImage} />
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .blog-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 2rem;
    padding-top: 5svh;
    margin-bottom: 10svh;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: var(--background-cards);
    border-radius: var(--card-border-radius);
    padding: 1.5rem;
    gap: 0.5rem;
    justify-content: space-between;
  }

  h3 {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 1rem;
  }

  .image-container {
  }

  img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    border-radius: var(--card-border-radius);
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }
</style>
