---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../utils/getPostData";

const title = "Blog";
const description = "Latest articles.";
const image = `/images/coverRendering.webp`;

let allPosts: CollectionEntry<"blog">[] = await getCollection("blog");
allPosts = allPosts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title={title}
  description={description}
  heroImage={image}
  current="blog">
  <div class="blog-container">
    <h2>BuildSystems Blog</h2>
    <p>
      The place dedicated to understand the German real estate. Here we cover topics such as circularity, regulations
      and fundings.
    </p>
    {
      allPosts.map((post, index) => {
        const href = post.slug;
        return (
          <div class="items-container">
            {index !== 0 && <hr />}
            <div class="post-item">
              <h3>
                <a href={href}>{post.data.title}</a>
              </h3>
              <p>{post.data.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">— {formatDate(post.data.publishDate)}</span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .blog-container {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    padding-top: 10svh;
    align-items: center;
  }

  .items-container {
    display: flex;
    width: 100%;
  }

  .post-item {
    flex: 1;
  }

  h2 {
    font-size: 3rem;
  }

  h2,
  .post-item-footer {
    font-family: var(--font-family-primary);
    font-weight: 500;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  /* hr {
    margin: 60px auto;
  } */
  
</style>
