---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import serviceAnimation from "../../assets/service-building-options.webp";
import BlogCarousel from "../../components/BlogCarousel/BlogCarousel.astro";
import { getAllPosts } from "../../lib/notion/client";
import StickyLogoMessage from "../../components/StickyLogoMessage.astro";

const title = "BuildSystems | Digitalisierung";
const description =
  "BuildSystems ebnet den Weg zur Digitalisierung durch softwaregestütztes Consulting. Dafür verbinden wir existierende Praxis mit innovativen Prozessen und Tools.";
const image = "/images/services-smart-sustainability-roadmap.png";

const posts = await getAllPosts();
---

<BaseLayout title={title} description={description} heroImage={image}>
  <StickyLogoMessage>
    <h2>
      ebnet den Weg zur <span class="font-secondary green"
        >Digi­ta­li­sie­rung</span
      > durch softwar­ege­stütz­tes Con­sul­ting. Dafür verbin­den wir exis­tier­ende
      Praxis mit inno­va­tiven Prozes­sen und Tools.
    </h2>
  </StickyLogoMessage>

  <div class="main-image">
    <Image
      src={serviceAnimation}
      alt="Animation showing multiple options of components for the same project: A concrete building, a building with concrete floors and timber walls, a timber building."
    />
  </div>
  <div class="frame" id="portfoliodigitalisierung">
    <h2>Digitalisierungsstrategien Portfolio</h2>
    <div class="list-text-grid">
      <div class="msg-tertiary">
        <p>
          Unser Angebot richtet sich an Assethalter und -manager sowie Family
          Offices, die ihr Portfolio digitalisieren und für
          Reporting­anforderungen vorbereiten möchten. Mit
          Immobilien­kenntnissen und Daten-Expertise unterstützen wir sie dabei,
          die Daten ihres Portfolios gewinnbringend im
          Nachhaltig­keits­mangament einzusetzen. Stellen Sie so sicher, dass
          Sie Risiken effizient quantifizieren, datenbasierte Entscheidungen zur
          Dekarbonisierung treffen und sich als Vorreiter bei zukünftigen
          Arbeit­nehmenden positionieren.
        </p>
      </div>
      <ul class="list-pill">
        <li>Identifizierung von Prozesslücken und Bedürfnisklärung</li>
        <li>Konzeptionierung von Workflows und Schnittstellen</li>
        <li>Beratung zu Vor- und Nachteilen existierender Software-Tools</li>
        <li>Unterstützung bei der Implementierung</li>
        <li>Vertretung Ihrer Interessen gegenüber dem Softwareanbieter</li>
        <li>Entwicklung und Implementierung von individuellen Low-Code-Apps</li>
        <li>Erstellung und Integration von Dashboards und Cockpits</li>
      </ul>
    </div>
  </div>
  <div class="frame primary-margin-top" id="digitale-carbon-due-diligence">
    <h2>Digitalisierungsstrategien Carbon Due Diligence</h2>
    <div class="list-text-grid">
      <div class="msg-tertiary">
        <p>
          Als Planende, Gene­ral­über­neh­mer oder Projekt­ent­wick­ler ist es
          für Sie wichtig, eine Carbon Due Diligence durchzuführen, um
          frühzeitig sicher­zu­stel­len, dass Sie den Anfor­de­rungen von
          Förderungen oder Zerti­fi­zie­rungs­sys­temen entsprechen? Es steht
          fest, je früher in der Planung die relevanten Ent­schei­dungen
          getroffen werden, desto leichter lassen sich später teure Fehl- oder
          Umplanungen vermeiden. Für eine frühe und belastbare Abwicklung der
          Carbon Due Dilligences ist es dabei jedoch unum­gäng­lich, effiziente
          Prozesse ebenso wie eine verlässliche Da­tengrund­lage zur Verfügung
          zu haben.
        </p>
        <p>
          Schätzen Sie mit BuildSystems die Emissions­werte Ihres Projekts von
          Anfang an daten­basiert ein und nutzen Sie diese bei
          der Entschei­dungs­findung.
        </p>
      </div>
      <ul class="list-pill">
        <li>Analyse der grundlegenden Datenstrukturen</li>
        <li>Analyse der grundlegenden Workflows zur Ökobilanzierung</li>
        <li>Identifizierung von Prozesslücken</li>
        <li>Konzeptionierung Ihres Carbon Due Diligence Prozesses</li>
        <li>Bereitstellung einer wachsenden Datenbank</li>
        <li>Beratung zu existierenden Software-Tools</li>
        <li>Unterstützung bei der Auswahl und Implementierung</li>
        <li>
          Trainings zur Steigerung der Fachkompetenz Ihres Teams bei der
          Auswertung von Ergebnissen
        </li>
      </ul>
    </div>
  </div>
  <BlogCarousel posts={posts} />
</BaseLayout>

<style>
  .main-image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 8rem 0;
  }

  .main-image img {
    width: clamp(100px, 50%, 600px);
  }

  @media (max-width: 920px) {
    .main-image {
      padding-left: var(--secondary-left-padding-tablet);
      padding-right: var(--secondary-right-padding-tablet);
      width: 100%;
    }
  }
</style>
