---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import serviceAnimation from "../../assets/service-building-options.webp";
import Button from "../../components/Button.astro";

const title = "BuildSystems | Digitalisierung";
const description =
  "BuildSystems ebnet den Weg zur Digitalisierung durch softwaregestütztes Consulting. Dafür verbinden wir existierende Praxis mit innovativen Prozessen und Tools.";
const image = "/images/services-smart-sustainability-roadmap.png";
const current = "services/digitalisierung";
---

<BaseLayout
  title={title}
  description={description}
  heroImage={image}
  current={current}>
  <div class="msg msg-primary">
    <h2 class="sticky">
      ebnet den Weg zur <span class="font-secondary green">Digi­ta­li­sie­rung</span> durch softwar­ege­stütz­tes Con­sul­ting.
      Dafür verbin­den wir exis­tier­ende Praxis mit inno­va­tiven Prozes­sen und Tools.
    </h2>
  </div>

  <div
    class="msg"
    id="portfoliodigitalisierung">
    <h2>Digitalisierungsstrategien Portfolio</h2>
    <div class="image-text-grid">
      <div class="msg-tertiary">
        <p>
          Unser Angebot richtet sich an Assethalter und -manager sowie Family Offices, die ihr Portfolio digitalisieren
          und für Reporting­anforderungen vorbereiten möchten. Mit Immobilien­kenntnissen und Daten-Expertise unterstützen
          wir sie dabei, die Daten ihres Portfolios gewinnbringend im Nachhaltig­keits­mangament einzusetzen. Stellen Sie
          so sicher, dass Sie Risiken effizient quantifizieren, datenbasierte Entscheidungen zur Dekarbonisierung
          treffen und sich als Vorreiter bei zukünftigen Arbeit­nehmenden positionieren.
        </p>
      </div>
      <div class="extra-topics">
        <Button
          text="Identifizierung von Prozesslücken und Bedürfnisklärung"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Konzeptionierung von Workflows und Schnittstellen"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Beratung zu  Vor- und Nachteilen existierender Software-Tools"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Unterstützung bei der Implementierung"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Vertretung Ihrer Interessen gegenüber dem Softwareanbieter"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Entwicklung und Implementierung von individuellen Low-Code-Apps"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Erstellung und Integration von Dashboards und Cockpits"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
      </div>
    </div>
  </div>
  <div class="options-animation">
    <Image
      src={serviceAnimation}
      alt="Animation showing multiple options of components for the same project: A concrete building, a building with concrete floors and timber walls, a timber building."
    />
  </div>
  <div
    class="msg"
    id="digitale-carbon-due-diligence">
    <h2>Digitalisierungsstrategien Carbon Due Diligence</h2>
    <div class="image-text-grid">
      <div class="msg-tertiary">
        <p>
          Als Planende, Gene­ral­über­neh­mer oder Projekt­ent­wick­ler ist es für Sie wichtig, eine Carbon Due
          Diligence durchzuführen, um frühzeitig sicher­zu­stel­len, dass Sie den Anfor­de­rungen von Förderungen oder
          Zerti­fi­zie­rungs­sys­temen entsprechen? Es steht fest, je früher in der Planung die relevanten
          Ent­schei­dungen getroffen werden, desto leichter lassen sich später teure Fehl- oder Umplanungen vermeiden.
          Für eine frühe und belastbare Abwicklung der Carbon Due Dilligences ist es dabei jedoch unum­gäng­lich,
          effiziente Prozesse ebenso wie eine verlässliche Da­tengrund­lage zur Verfügung zu haben.
        </p>
        <p>
          Schätzen Sie mit BuildSystems die Emissions­werte Ihres Projekts von Anfang an daten­basiert ein und nutzen Sie
          diese bei der Entschei­dungs­findung.
        </p>
      </div>
      <div class="extra-topics">
        <Button
          text="Analyse der grundlegenden Datenstrukturen"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Analyse der grundlegenden Workflows zur Ökobilanzierung"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Identifizierung von Prozesslücken"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Konzeptionierung Ihres Carbon Due Diligence Prozesses "
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Bereitstellung einer wachsenden Datenbank"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Beratung zu existierenden Software-Tools"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Unterstützung bei der Auswahl und Implementierung"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
        <br />
        <Button
          text="Trainings zur Steigerung der Fachkompetenz Ihres Teams bei der Auswertung von Ergebnissen"
          link="/"
          openOnNewTab={true}
          icon="redirect"
        />
      </div>
    </div>
  </div>
</BaseLayout>

<style>

</style>
