---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Button from "../../components/Button.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import BlogCarousel from "../../components/BlogCarousel/BlogCarousel.astro";

const title = "BuildSystems | Revitalisierung";
const description =
  "BuildSystems ebnet den Weg zur Digitalisierung durch softwaregestütztes Consulting. Dafür verbinden wir existierende Praxis mit innovativen Prozessen und Tools.";
const image = "/images/services-smart-sustainability-roadmap.png";
---

<BaseLayout title={title} description={description} heroImage={image}>
  <div class="frame primary-font-size primary-height primary-margin-top">
    <h2 class="sticky">
      transformiert <span class="font-secondary green"
        >bestehende Immobilien</span
      > zu ressourcen­schonenden und mehrwert­stiftenden Lebens­räumen, die langfristig
      wertstabil und förderfähig sind.
    </h2>
  </div>
  <div class="animation-eight-topics-container">
    <div class="animation-eight-topics">
      <LottieAnimation
        id="animation-eight-topics"
        src="/animations/services-eight-topics-diagram-small.json"
        autoplay="visible"
      />
    </div>
  </div>
  <div class="frame" id="energieberatung-und-individuelle-sanierungsfahrplaene">
    <h2>Energie­beratung und Individuelle Sanierungs­fahrpläne</h2>
    <div class="list-text-grid">
      <div class="msg-tertiary">
        <p>
          Ihre Immobilie zeigt erhöhte Energie­verbrauchs­daten, sodass der
          Betrieb mit Blick auf aktuelle Energiepreise nicht wirt­schaft­lich
          ist? BuildSystems unterstützt Sie dabei, die notwendigen Maßnahmen zu
          identifizieren und zudem die günstigen Förder­konditionen
          auszu­schöpfen. Dafür entwickeln wir ein energetisches Gesamt­konzept
          unter Berück­sichtigung der Effizienz und Wirt­schaftlichkeit
          ver­schiede­ner Maßnahmen. So können Sie mit einem guten Gewissen
          zukunfts­weisende Entscheidungen für Ihre Immobilie treffen.
        </p>
      </div>
      <ul class="list-pill">
        <li>
          Erstevaluierung Ihres Projektes und ggf. Bestandsaufnahme vor Ort
        </li>
        <li>Erstellung einer Potenzialanalyse</li>
        <li>
          Erstellung eines Energieberatungsberichts oder Sanierungsfahrplans
          (dieser ist zu 50 % förderfähig)
        </li>
        <li>Wirtschaftlichkeitsbetrachtung</li>
        <li>Bewertung von Einsparpotentialen im Betrieb</li>
        <li>Identifizierung von Förderpotentialen (Bafa, KfW)</li>
        <li>
          Beratung hinsichtlich serieller Sanierung, erneuerbarer Energien und
          Zertifizierungen
        </li>
      </ul>
    </div>
  </div>

  <div class="frame primary-margin-top" id="repositionierungskonzepte">
    <h2>Repositionierung, Aus- und Umbau­konzepte</h2>
    <div class="list-text-grid">
      <div class="msg-tertiary">
        <p>
          Auf Ihrem Grundstück befinden sich Nach­verdichtungs­potenziale oder
          Sie könnten Ihre Immobilie aufstocken? Ihr Gebäude entspricht in
          seiner Funktionalität nicht mehr den heutigen Anfor­derun­gen und es
          droht ein Wertverlust durch Stranding? Denken Sie Sanierung und
          Repostio­nierung zusammen und schöpfen dabei das volle
          Förder­potential aus! Wir begleiten Sie bei der Entscheidungs­findung
          durch die ökonomische Einordnung durchdachter Varianten. Dabei stehen
          immer die tech­ni­sche Machbarkeit und der tatsäch­liche Bedarf
          zusammen mit Nachhal­tig­keit im Fokus.
        </p>
      </div>
      <ul class="list-pill">
        <li>Erstevaluierung, ggf. Bestandsaufnahme vor Ort</li>
        <li>Erstellung einer Bedarfsplanung</li>
        <li>Erarbeitung Umnutzungs- und Nachverdichtungskonzepte</li>
        <li>
          Baurechtschaffung mit Blick auf entsprechende Fördermittel und
          energetische Effizienz
        </li>
        <li>Erstellung statischer Machbarkeitsstudien zur Gebäudesubstanz</li>
        <li>
          Fachplanung, von der Zielfindungsphase über die Vor- und
          Entwurfsplanung bis zur Genehmigungsplanung, Lph 1-4
        </li>
      </ul>
    </div>
  </div>

  <div class="frame primary-margin-top" id="foerdermittelberatung">
    <h2>Fördermittelberatung</h2>
    <div class="list-text-grid">
      <div class="msg-tertiary">
        <p>
          In Zeiten steigender Baupreise und hoher Zinssätze werden Förderungen
          wie die der KfW oder Bafa stetig attraktiver – zumal diese gerade bei
          gewerblichen Entwick­lungen mit mehreren Wohnein­heiten beson­ders
          wirkungsvoll sind. BuildSystems zeigt auf, welche
          Nachhal­tig­keits­stu­fe für Ihr Projekt die lukrativste Lösung
          darstellt. Bei Bedarf berück­sich­tigen wir auch regionale
          Fördersysteme wie z.B. die FKG Förderung München.
        </p>
        <p>
          Sie möchten verschiedene KfW-Förderprodukte in Bezug auf
          Anfor­de­rungen und finanziellen Vorteile durch Tilgungs­zuschüsse und
          vergünstigte Zinsen vergleichen? Werfen Sie einen Blick in unseren
          Fördermittel-Kalkulator!
        </p>
        <Button
          text="Fördertool"
          link="/foerdertool"
          openOnNewTab={true}
          icon="redirect"
          widthFitContent={true}
        />
      </div>
      <ul class="list-pill">
        <li>Erste Übersicht mit dem Fördermittel-Kalkulator</li>
        <li>Überprüfung der Möglichkeiten vor Ort</li>
        <li>Beantragung der Fördermittel</li>
      </ul>
    </div>
  </div>
  <!-- <BlogCarousel /> -->
</BaseLayout>
<style>
  .animation-eight-topics-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem 0;
  }
  .animation-eight-topics {
    height: clamp(300px, 90svh, 700px);
    width: clamp(300px, 90svw, 700px);
  }

  @media (max-width: 920px) {
    .animation-eight-topics {
      width: 100%;
    }
  }

  @media (max-width: 625px) {
    .animation-eight-topics-container {
      padding-left: var(--left-padding-tablet);
      padding-right: var(--right-padding-tablet);
    }
  }
</style>
