---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCarousel from "../components/BlogCarousel/BlogCarousel.astro";
import {
  getAllOrganizations,
  getAllPeople,
  getAllPosts,
} from "../lib/notion/client";
import PersonCard from "../components/PersonCard.astro";
import StickyLogoMessage from "../components/StickyLogoMessage.astro";
import OrganizationCard from "../components/OrganizationCard.astro";

const title = "BuildSystems | Team";
const description =
  "BuildSystems erschließt Potenziale der Umweltentlastung ganzheitlich. Deshalb beraten wir Sie toolunabhängig im interdisziplinären Team aus Nachhaltigkeits- und Softwarespezialisten.";
const image = "/images/buildsystems-team-steiermark.jpg";
const imageAlt = "BuildSystems team working";

const people = await getAllPeople();

const organizations = await getAllOrganizations();

const posts = await getAllPosts();
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  imageAlt={imageAlt}
>
  <div class="frame msg-secondary primary-margin-top">
    <h3>
      Wir vertreten nicht nur einen integralen Prozess in der Planung, wir leben
      Interdisziplinarität im Team: Jeder bringt einen Baustein der
      ganzheitlichen Betrachtung mit ein. Gemeinsam erfassen wir ökologische
      Anforderungen auf allen Ebenen und betrachten die Gesamtwirkung der
      Maßnahmen zur Emissionsreduktion durch die sozioökonomische Perspektive.
    </h3>
  </div>
  <StickyLogoMessage>
    <h2>führt Kompetenzen, Prozesse und Tools zusammen.</h2>
  </StickyLogoMessage>

  <div class="frame cards-container">
    {
      people.map((person) => {
        return <PersonCard item={person} />;
      })
    }
  </div>

  <div class="frame flex grow flex-wrap gap-2">
    {
      organizations.map((organization) => {
        return <OrganizationCard item={organization} />;
      })
    }
  </div>
  <BlogCarousel posts={posts} />
</BaseLayout>

<style>
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    z-index: 2;
    margin-bottom: 20svh;
  }

  @media (max-width: 1280px) {
    .cards-container {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  @media (max-width: 920px) {
    .cards-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
</style>
