---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCarousel from "../components/BlogCarousel/BlogCarousel.astro";
import {
  getAllOrganizations,
  getAllPartners,
  getAllPeople,
  getAllPosts,
} from "../lib/notion/client";
import StickyLogoMessage from "../components/StickyLogoMessage.astro";
import PersonCard from "../components/PersonCard.astro";
import PartnersCard from "../components/PartnersCard.astro";
import OrganizationCard from "../components/OrganizationCard.astro";

const title = "BuildSystems | About";
const description =
  "BuildSystems erschließt Potenziale der Umweltentlastung ganzheitlich. Deshalb beraten wir Sie toolunabhängig im interdisziplinären Team aus Nachhaltigkeits- und Softwarespezialisten.";
const image = "/images/buildsystems-team-steiermark.jpg";
const imageAlt = "BuildSystems team working";

const people = await getAllPeople();

const partners = await getAllPartners();

const organizations = await getAllOrganizations();

const posts = await getAllPosts();
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  imageAlt={imageAlt}
>
  <div class="frame msg-secondary primary-margin-top">
    <h3>
      Wir vertreten nicht nur einen integralen Prozess in der Planung, wir leben
      Interdisziplinarität im Team: Jeder bringt einen Baustein der
      ganzheitlichen Betrachtung mit ein. Gemeinsam erfassen wir ökologische
      Anforderungen auf allen Ebenen und betrachten die Gesamtwirkung der
      Maßnahmen zur Emissionsreduktion durch die sozioökonomische Perspektive.
    </h3>
  </div>
  <StickyLogoMessage>
    <h2>führt Kompetenzen, Prozesse und Tools zusammen.</h2>
  </StickyLogoMessage>

  {
    people.length > 0 && people && (
      <div class="frame">
        <h2>Team</h2>
        <div class="mb-24 grid gap-2 xl:grid-cols-2">
          {
            people.map((person) => {
              return <PersonCard person={person} />;
            })
          }
        </div>
      </div>
    )
  }
  {
    partners.length > 0 && partners && (
    <StickyLogoMessage>
      <h2>denkt Projekte von Anfang an interdisziplinär. Deshalb arbeiten wir mit starken Partnern aus den Bereichen Kommunikation, Fachplanung und Software.</h2>
    </StickyLogoMessage>
      <div class="frame">
        <h2>Partner</h2>
        <div class="mb-24 grid gap-2 xl:grid-cols-2">
          {
            partners.map((partner) => {
              return <PartnersCard partner={partner} />;
            })
          }
        </div>
      </div>
    )
  }
  {
    organizations.length > 0 && organizations && (
      <div
      class="frame xs:w-[calc(100%-var(--left-padding-tablet)-var(--right-padding-tablet))] sm:w-[calc(100%-var(--left-padding-desktop)-var(--right-padding-desktop))] xl:w-[calc(100%-var(--left-padding-general)-var(--right-padding-general))]"
      >
        <h2>Organisationen</h2>
        <div class="flex flex-col gap-2 object-cover lg:flex-row lg:flex-wrap">
        {
          organizations.map((organization) => {
            return <OrganizationCard organization={organization} />;
          })
        }
        </div>
      </div>
    )
  }
  <BlogCarousel posts={posts} />
</BaseLayout>

<style>
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    z-index: 2;
    margin-bottom: 20svh;
  }

  @media (max-width: 920px) {
    .cards-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
</style>
