---
import LandingLayout from "../layouts/LandingLayout.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/heroimage-ipad-sanierung.png";
import Button from "../components/Button.astro";

const title = "BuildSystems | Foerdertool";
const description =
  "Fördermittel-Kalkulator von BuildSystems. Das Tool untersützt Sie bei der frühzeitigen Gegenüberstellung von Kosten, Fördermittelpotentialen und ökologischen Anforderungen.";
const image = "/images/heroimage-ipad-sanierung.png";
const current = "foerdertool";
---

<LandingLayout
  title={title}
  description={description}
  heroImage={image}
  current={current}>
  <div class="tool">
    <Image
      class="tool__image"
      src={heroImage}
      alt="User holding a tabled with the BuildSystems app open on the Sanierung tool."
    />
    <div class="tool__text">
      <h1>Fördertool</h1>
      <h2>
        Das Tool untersützt Sie bei der früh­zeitigen Gegenüber­stellung von Baukosten, Fördermittel­potentialen und
        Nachhaltigkeits­anforderungen.
      </h2>
      <p>
        Vergleichen Sie verschiedene KfW-Förderprodukte in Bezug auf Anforderungen und finanziellen Vorteile durch
        Tilgungs­zuschüsse und vergünstigte Zinsen.
      </p>
      <div class="tool__text__buttons">
        <Button
          icon="redirect"
          text="Neubau"
          link="https://app.buildsystems.de/neubau"
        />
        <Button
          icon="redirect"
          text="Sanierung"
          link="https://app.buildsystems.de/sanierung"
        />
      </div>
    </div>
  </div>
</LandingLayout>

<style>
  .tool {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 100svh;
    max-height: 100svh;
  }

  .tool__image {
    object-fit: cover;
    height: 100svh;
  }

  .tool__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding: 0 8rem 0 4rem;
  }

  h1 {
    font-family: var(--font-family-secondary);
  }

  h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  p {
    text-align: start;
    margin: 1rem 0;
    line-height: 130%;
  }

  .tool__text__buttons {
    color: white;
    display: flex;
    margin: 1rem 0;
    gap: 2rem;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }

  @media (max-width: 900px) {

  }
</style>
