---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
import { Image } from "astro:assets";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_HEROIMAGE } from "../consts";
import heroRendering from "../assets/multistory-timber-building.jpg";
import bundesminLogo from "../assets/bmWiLogo20212.png";
import bayArchKammerLogo from "../assets/baykaLogo.png";
import dennaLogo from "../assets/dena.png";
import energieEffExpLogo from "../assets/energieEffizienz.png";
import tumVentLabLogo from "../assets/TumVentLabsLogo.png";
import uliLogo from "../assets/uli_LogoHorizontal1805X168.png";
import bayInnovLogo from "../assets/bayernInnovativLogoMitClaim.png";
import bayStaatsminWirtschaftLogo from "../assets/bay-staat-wle.png";
import Button from "../components/Button.astro";
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage={SITE_HEROIMAGE}
  current="">
  <Image
    class="hero-image"
    src={heroRendering}
    widths={[360, 720, 920, 1600, heroRendering.width]}
    sizes={`(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 920px) 920px, (max-width: 1600px) 1600px, ${heroRendering.width}px`}
    alt="Rendering of a multi-story timber building"
  />

  <input
    type="checkbox"
    id="cover"
    class="cover-checkbox visuallyHidden"
  />
  <label
    class="cover"
    aria-label="Animation: Build Smart, Build Sustainable, Build Systems. Click to close animation."
    for="cover">
    <div class="cover-text">
      <div class="txt-build">Build</div>
      <div class="systems-overflow">
        <div class="systems-container">
          <div class="txt-systems">Systems</div>
          <div class="txt-sustainable">Sustainable</div>
          <div class="txt-smart">Smart</div>
        </div>
      </div>
    </div>
  </label>

  <div class="msg msg-primary">
    <h2 class="sticky">
      ermöglicht es, den Nachhaltigkeits&shy;anforderungen von morgen ökonomisch und technisch gerecht zu werden.
    </h2>
  </div>

  <div
    aria-label="Animation: Ökologische Bautätigkeit skalieren. Ökonomische Machbarkeit und Planungssicherheit garantieren. Konformität mit ESG und Förderrichtlinien gewährleisten."
    class="animation01">
    <LottieAnimation
      id="animation01"
      src="animations/oekologische-oekonomische-esg-konformitaet.json"
      autoplay="visible"
    />
  </div>

  <div class="msg msg-secondary">
    <h3>Impact Intelligence steht für eine hohe Performance in drei Bereichen:</h3>
    <ul>
      <li>Ihren ökologischen und sozialen Impact in der Gebäude&shy;entwicklung zu skalieren</li>
      <li>Das Potential Ihrer Assets optimal auszunutzen</li>
      <li>Ihr Portfolio langfristig innerhalb des Dekarbonisierungs&shy;pfads zu verorten</li>
    </ul>
    <p>
      Wir helfen Ihnen, die entscheidenden technischen und sozio&shy;ökonomischen Maßnahmen zu wählen, damit Sie Ihre
      Nachhaltigkeits&shy;ansprüche sicher und effizient erreichen.
    </p>
    <Button
      text="Services"
      link="/services"
      icon="redirect"
      ariaLabel="Go to Services page"
    />
  </div>

  <div class="msg msg-primary">
    <h2 class="sticky">
      ist eine technologie&shy;gestützte Nachhaltigkeits&shy;beratung. Wir stellen sicher, dass Ihre
      Projekt&shy;entwicklungen grün, zukunfts&shy;fähig sowie kalkulierbar und risikoarm sind.
    </h2>
  </div>

  <div
    aria-label="Animation: Smart Sustainability Roadmap"
    class="animation02">
    <LottieAnimation
      id="animation02"
      src="animations/smart-sustainability-roadmap.json"
      autoplay="visible"
    />
  </div>

  <h3 class="msg msg-secondary">
    Unsere Nachhaltigkeitsfahrpläne – die Smart Sustainability Roadmaps – unterstützen die individuelle
    Projektentwicklung in einer frühen Phase der Planung, Investitionsentscheidungen zu treffen, Projekte ganzheitlich
    aufzugleisen und nachhaltige Wertstabilität zu schaffen. Stellen Sie die Entwicklung zum grünen Asset mit Blick auf
    Reporting-Anforderungen und institutionelle Käufer sicher.
  </h3>

  <div class="partner-container">
    <h2>Unsere Partner</h2>
    <div class="logos-container">
      <a
        href="https://www.bmwk.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link to bmwk.de">
        <svg>
          <title>Logo des Bundesministerium für Wirtschaft und Klimaschutz der Bundesrepublik Deutschland</title>
          <use xlink:href="/assets/partners.svg#bmwk"/>
        </svg>
      </a>
      <a
        href="https://www.byak.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link to byak.de">
        <svg>
          <title>Logo des Bayerische Architektenkammer</title>
          <use xlink:href="/assets/partners.svg#bay-arch"/>
        </svg>
      </a>
      <a
        href="https://www.dena.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link to dena.de">
        <svg class="dena-logo">
          <title>Logo des Deutsche Energie-Agentur GmbH</title>
          <use xlink:href="/assets/partners.svg#dena"/>
        </svg>
      </a>
      <a
        href="https://www.energie-effizienz-experten.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link to energie-effizienz-experten.de">
        <Picture
          src={energieEffExpLogo}
          formats={["avif", "webp"]}
          alt="Logo des Energie Effizienz Experten"
        />
      </a>
      <a
        href="https://www.tum-venture-labs.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link to tum-venture-labs.de">
        <svg>
          <title>Logo des TUM Venture Labs</title>
          <use xlink:href="/assets/partners.svg#tum-venture-labs"/>
        </svg>
      </a>
      <a
        href="https://germany.uli.org/"
        target="_blank"
        class="partner-logo"
        aria-label="Link to germany.uli.org">
        <Picture
          src={uliLogo}
          formats={["avif", "webp"]}
          alt="Logo des Urban Land Institute - ULI Germany / Austria / Switzerland"
        />
      </a>
      <a
        href="https://www.bayern-innovativ.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link to bayern-innovativ.de">
        <svg>
          <title>Logo des Bayern Innovativ GmbH</title>
          <use xlink:href="/assets/partners.svg#bay-innovativ"/>
        </svg>
      </a>
      <a
        href="https://www.stmwi.bayern.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link to stmwi.bayern.de">
        <Picture
          src={bayStaatsminWirtschaftLogo}
          formats={["avif", "webp"]}
          alt="Logo des Bayerisches Staatsministerium für Wirtschaft, Landesentwicklung und Energie"
        />
      </a>
    </div>
  </div>
</BaseLayout>

<style>
  .cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    padding-left: 1svw;
    background-color: var(--background-body);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lottie-container {
    width: 100%;
  }

  .cover-text {
    display: flex;
    width: 100%;
  }

  .txt-build {
    display: flex;
    font-size: 11svw;
    align-items: center;
    justify-content: center;
  }
  .systems-overflow {
    overflow: hidden;
    height: 17svw;
  }
  
  .systems-container {
    font-family: var(--font-family-secondary);
    position: relative;
    font-size: 11svw;
    flex: 1;
    transform: translateY(-66%);
  }

  @keyframes slidedown {
    from {
      opacity: 1;
    }
    43% {
      transform: translateY(-33%)
    }
    57% {
      transform: translateY(-33%)
    }
    to {
      opacity: 1;
      transform: translateY(0)
    }
  }

  .cover-checkbox ~ .cover .systems-container {
    animation: slidedown 2s var(--bezier-animation) forwards;
    animation-delay: 0.8s; */
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .cover-checkbox:checked ~ .cover {
    animation: fadeout 0.2s forwards;
    pointer-events: none;
  }

  .hero-image {
    position: relative;
    top: 0;
    left: 0;
    min-height: 105svh;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    z-index: 2;
    user-select: none;
  }

  .animation01 {
    width: 100%;
    padding-left: var(--left-padding-general);
    padding-right: var(--right-padding-general);
  }

  .animation02 {
    margin-top: -2rem;
    margin-bottom: -4rem;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .partner-container {
    background-color: var(--background-body);
    padding-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1;
    margin-bottom: 15svh;
  }

  .logos-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .dena-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 60%, 200px);
  }

  .icon {
    /* width: 200px; */
  }

  @media (max-width: 1280px) {
    .animation01 {
      padding-left: calc(var(--left-padding-desktop) - 40px);
      padding-right: 5%;
    }

    .animation02 {
      /* margin: 0; */
    }

    .partner-container {
      padding-left: 5%;
      padding-right: 5%;
    }

    .partner-logo {
      width: clamp(200px, 50%, 500px);
    }
  }

  @media (max-width: 920px) {
    .animation01 {
      padding-left: var(--secondary-left-padding-tablet);
    }

    .animation02 {
      padding-left: var(--secondary-left-padding-tablet);
      padding-right: var(--secondary-right-padding-tablet);
      width: 100%;
    }

    .logos-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .partner-logo {
      width: 90%;
    }

    .dena-logo {
      width: clamp(100px, 60%, 180px);
    }
  }

  @media (max-width: 625px) {
    .partner-logo {
      width: 100%;
    }

    .animation02 {
      margin: 0;
    }
  }

  @media (max-width: 420px) {
    .logos-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 4rem;
    }
  }
</style>
