---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
import { Image } from "astro:assets";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_HEROIMAGE } from "../consts";
import heroRendering from "../assets/multistory-timber-building.jpg";
import energieEffExpLogo from "../assets/energieEffizienz.png";
import uliLogo from "../assets/uli_LogoHorizontal1805X168.png";
import bayStaatsminWirtschaftLogo from "../assets/bay-staat-wle.png";
import Button from "../components/Button.astro";
import ThreePillarsHorizontal from "../components/ThreePillarsHorizontal.astro";
import ThreePillarsVertical from "../components/ThreePillarsVertical.astro";
import Cover from "../components/Cover.astro";
import BuildCarousel from "../components/BuildCarousel/BuildCarousel.astro";
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage={SITE_HEROIMAGE}
  current="">
  <Cover />

  <Image
    class="hero-image"
    src={heroRendering}
    widths={[300, 700, 1000, 1280, 1400, 1600, heroRendering.width]}
    sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, (max-width: 1000px) 1000px, (max-width: 1280px) 1280px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, ${heroRendering.width}px`}
    alt="Rendering of a multi-story timber building"
    loading="eager"
  />

  <div class="msg msg-primary">
    <h2 class="sticky">
      arbeitet mit Projektentwickler:innen, Bestandshaltern und Generalunternehmen, um gemeinsam zukunftsfähige
      Immobilienprojekte zu realisieren.
    </h2>
  </div>
  <div class="msg msg-secondary">
    <p>
      Die Bauwende stellt eine unserer größten Herausforderungen dar, jedoch ist sie auch mit immensen Wachstumschancen
      verbunden. Wir unterstützen sie bei der Strategieentwicklung und -implementierung. Individuell auf Ihre
      Bedürfnisse abgestimmt, bestimmen wir Risiken, identifizieren Potentiale und optimieren Prozesse durch smarte
      Digitalisierungsmaßnahmen. Dabei treiben wir besonders die Dekarbonisierung des Sektors voran und ebnen den Weg zu
      relevanten Fördermitteln. So machen sich Ihre Green Assets langfristig bezahlt!
    </p>
  </div>

  <div
    aria-label="Animation: Ökologische Bautätigkeit skalieren. Ökonomische Machbarkeit und Planungssicherheit garantieren. Konformität mit ESG und Förderrichtlinien gewährleisten."
    class="animation01 horizontal">
    <ThreePillarsHorizontal />
  </div>
  <div
    aria-label="Animation: Ökologische Bautätigkeit skalieren. Ökonomische Machbarkeit und Planungssicherheit garantieren. Konformität mit ESG und Förderrichtlinien gewährleisten."
    class="animation01 vertical">
    <ThreePillarsVertical />
  </div>

  <div class="msg msg-primary">
    <h2 class="sticky">
      ist eine technologiegestützte Nachhaltigkeitsberatung. Wir stellen sicher, dass Ihre Immobilien grün,
      zukunftsfähig und risikoarm sind.
    </h2>
  </div>
  <div class="msg">
    <BuildCarousel />
  </div>
  <div class="msg msg-primary">
    <div class="sticky">
      <h2>
        stellt Leistungspakete maßgeschneidert zusammen und entspricht so Ihrem individuellen Bedarf. Schema F gibt es
        bei uns nicht. Dabei behalten wir immer das große Ganze im Blick.
      </h2>
      <Button
        text="Services"
        link="/services"
        icon="redirect"
        ariaLabel="Go to Services page"
      />
    </div>
  </div>

  <div class="msg msg-secondary">
    <p class="sticky">
      Wir unterstützen Sie bei der Entwicklung von Dekarbonisierungsstrategien für Ihr Unternehmen und erschließen
      Potenziale der Umweltentlastung ganzheitlich. Darüber hinaus bieten wir Energie- und Fördermittelberatung sowie
      Umnutzungskonzepte für die Revitalisierung von Bestandsgebäuden. Wir begleiten Sie mit fachplanerischen Leistungen
      und Beratung zur Nachhaltigkeitssteuerung innerhalb Ihres Planungsprozesses.  Daten sind der Schlüssel zu einer
      besseren Emissionsbilanz. Deshalb beraten wir sie toolunabhängig im interdisziplinären Team aus Nachhaltigkeits-
      und Softwarespezialisten bei der Digitalisierung Ihres Portfolios und der Abwicklung Ihrer Carbon Due Diligence.
    </p>
  </div>

  <div
    aria-label="Animation: Smart Sustainability Roadmap"
    class="animation02">
    <LottieAnimation
      id="animation02"
      src="animations/smart-sustainability-roadmap.json"
      autoplay="visible"
    />
  </div>

  <div class="msg msg-primary">
    <div class="sticky">
      <h2>
        entwickelt digitale Anwendungen ebenso wie Nachhaltigkeitsfahrpläne. Digitalisierung geht bei uns Hand in Hand
        mit kreativen Lösungsansätzen zu aktuellen Herausforderungen in der Baubranche.
      </h2>
      <Button
        text="Referenzen"
        link="/referenzen"
        icon="redirect"
        ariaLabel="Go to Referenzen page"
      />
    </div>
  </div>
  <div class="msg msg-secondary">
    <p>
      Unsere Projekte bilden einen Querschnitt durch Forschungs­arbeiten, und Wissens­transferformaten sowie durch
      Beratungs- und Planungs­leistungen. Dabei ist die Dekarbonisierung unserer gebauten Umwelt das verbindende Element
      all unserer Projekte, denn sie ist zur Erreichung der globalen Klimaziele unumgänglich. Der Fokus unserer Arbeit
      liegt stets darauf, jene Vorteile, die über die Verringerung von Emissionen hinausgehen, für unsere jeweiligen
      Kunden heraus­zuarbeiten und so die Wertbeständigkeit von Immobilien und Entwicklungen zu gewährleisten.
    </p>
  </div>

  <div class="msg msg-primary">
    <div class="sticky">
      <h2>
        hilft, Herausforderungen des nachhaltigen Bauens besser zu verstehen und gibt Orientierung auf unbekanntem
        Terrain. Veränderung wird aktiv im Team gestaltet.
      </h2>
      <Button
        text="Referenzen"
        link="/referenzen"
        icon="redirect"
        ariaLabel="Go to Referenzen page"
      />
    </div>
  </div>
  <div class="msg msg-secondary">
    <p class="sticky">
      Wir haben unseren Fit For Future Ansatz als ein Weiterbildungsformat rund um die Herausforderungen nachhaltiger
      Projektentwicklung und unternehmensstrategische Dekarbonisierung konzipiert. In analogen Modulen lernen die
      Teilnehmenden, worauf es bei der Entwicklung von zukunftsfähigen, lebenswerten und gemischten Projekten in urbanen
      Gebieten ankommt und wie Unternehmen diese Ansätze auf Unternehmensebene verankern. Managen Sie in Zukunft die
      verschiedenen Stellschrauben der Nachhaltigkeit ganzheitlich und verstehen Sie, welche Maßnahmen tatsächlich einen
      positiven Impact schaffen.
    </p>
  </div>

  <div class="partner-container">
    <h2>Unsere Partner</h2>
    <div class="logos-container">
      <a
        href="https://www.bmwk.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu bmwk.de - Bundesministerium für Wirtschaft und Klimaschutz der Bundesrepublik Deutschland">
        <svg role="img">
          <use xlink:href="/assets/partners.svg#bmwk"></use>
        </svg>
      </a>
      <a
        href="https://www.byak.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu byak.de - Bayerische Architektenkammer">
        <svg role="img">
          <use xlink:href="/assets/partners.svg#bay-arch"></use>
        </svg>
      </a>
      <a
        href="https://www.dena.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu dena.de - Deutsche Energie-Agentur GmbH">
        <svg
          class="dena-logo"
          role="img">
          <use xlink:href="/assets/partners.svg#dena"></use>
        </svg>
      </a>
      <a
        href="https://www.energie-effizienz-experten.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu energie-effizienz-experten.de - Energie Effizienz Experten">
        <Picture
          src={energieEffExpLogo}
          formats={["avif", "webp"]}
          alt=""
        />
      </a>
      <a
        href="https://www.tum-venture-labs.de/teams/build-systems/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu tum-venture-labs.de - TUM Venture Labs">
        <svg role="img">
          <use xlink:href="/assets/partners.svg#tum-venture-labs"></use>
        </svg>
      </a>
      <a
        href="https://germany.uli.org/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu germany.uli.org - Urban Land Institute (ULI) Germany / Austria / Switzerland">
        <Picture
          src={uliLogo}
          formats={["avif", "webp"]}
          alt=""
        />
      </a>
      <a
        href="https://www.bayern-innovativ.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu bayern-innovativ.de - Bayern Innovativ GmbH">
        <svg role="img">
          <use xlink:href="/assets/partners.svg#bay-innovativ"></use>
        </svg>
      </a>
      <a
        href="https://www.stmwi.bayern.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu stmwi.bayern.de - Bayerisches Staatsministerium für Wirtschaft, Landesentwicklung und Energie">
        <Picture
          src={bayStaatsminWirtschaftLogo}
          formats={["avif", "webp"]}
          alt=""
        />
      </a>
    </div>
  </div>
</BaseLayout>

<style>
  .hero-image {
    position: relative;
    top: 0;
    left: 0;
    min-height: 105svh;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    z-index: 2;
    user-select: none;
  }

  .animation01 {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: var(--left-padding-general);
    padding-right: var(--right-padding-general);
  }

  .animation01.vertical {
    display: none;
  }

  .animation02 {
    margin-top: -2rem;
    margin-bottom: -4rem;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .partner-container {
    background-color: var(--background-body);
    padding-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1;
    margin-bottom: 15svh;
  }

  .logos-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .dena-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 60%, 200px);
  }

  @media (max-width: 1280px) {
    .animation01 {
      padding-left: calc(var(--left-padding-desktop) - 40px);
      padding-right: 5%;
    }

    .partner-container {
      padding-left: 5%;
      padding-right: 5%;
    }

    .partner-logo {
      width: clamp(200px, 50%, 500px);
    }
  }

  @media (max-width: 920px) {
    .animation01 {
      padding-left: var(--secondary-left-padding-tablet);
    }

    .animation02 {
      padding-left: var(--secondary-left-padding-tablet);
      padding-right: var(--secondary-right-padding-tablet);
      width: 100%;
    }

    .logos-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .partner-logo {
      width: 90%;
    }

    .dena-logo {
      width: clamp(100px, 60%, 180px);
    }
  }

  @media (max-width: 625px) {
    .animation01.vertical {
      display: block;
      width: 50%;
    }

    .animation01.horizontal {
      display: none;
    }

    .animation02 {
      margin: 0;
    }

    .partner-logo {
      width: 100%;
    }
  }

  @media (max-width: 420px) {
    .logos-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 4rem;
    }
  }
</style>
