---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_HEROIMAGE } from "../consts";
import coverRendering from "../assets/coverRendering.jpg";
import bundesminLogo from "../assets/bmWiLogo20212.png";
import bayArchKammerLogo from "../assets/baykaLogo.png";
import dennaLogo from "../assets/dena.png";
import energieEffExpLogo from "../assets/energieEffizienz.png";
import tumVentLabLogo from "../assets/TumVentLabsLogo.png";
import uliLogo from "../assets/uli_LogoHorizontal1805X168.png";
import bayInnovLogo from "../assets/bayernInnovativLogoMitClaim.png";
import bayStaatsminWirtschaftLogo from "../assets/logoBayerischesStaatsministeriumWirtschaftLandesentwicklungUndEnergie.png";
import Button from "../components/Button.astro";
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage={SITE_HEROIMAGE}
  current="">
  <Image
    class="hero-image"
    src={coverRendering}
    alt="Rendering of a multi-story timber building"
  />

  <div class="msg msg-primary">
    <h2 class="sticky">
      ermöglicht es, den Nachhaltigkeits&shy;anforderungen von morgen ökonomisch und technisch gerecht zu werden.
    </h2>
  </div>

  <div class="animation01">
    <LottieAnimation
      id="animation01"
      src="animations/01Mini.json"
      autoplay="visible"
    />
  </div>

  <div class="msg msg-secondary">
    <h3>Impact Intelligence steht für eine hohe Performance in drei Bereichen:</h3>
    <ul>
      <li>Ihren ökologischen und sozialen Impact in der Gebäude&shy;entwicklung zu skalieren</li>
      <li>Das Potential Ihrer Assets optimal auszunutzen</li>
      <li>Ihr Portfolio langfristig innerhalb des Dekarbonisierungs&shy;pfads zu verorten</li>
    </ul>
    <p>
      Wir helfen Ihnen, die entscheidenden technischen und sozio&shy;ökonomischen Maßnahmen zu wählen, damit Sie Ihre
      Nachhaltigkeits&shy;ansprüche sicher und effizient erreichen.
    </p>
    <Button
      text="→ Services"
      link="/services"
    />
  </div>

  <div class="msg msg-primary">
    <h2 class="sticky">
      ist eine technologie&shy;gestützte Nachhaltigkeits&shy;beratung. Wir stellen sicher, dass Ihre
      Projekt&shy;entwicklungen grün, zukunfts&shy;fähig sowie kalkulierbar und risikoarm sind.
    </h2>
  </div>

  <div class="animation02">
    <LottieAnimation
      id="animation02"
      src="animations/02Mini.json"
      autoplay="visible"
    />
  </div>

  <h3 class="msg msg-secondary">
    Unsere Nachhaltigkeitsfahrpläne – die Smart Sustainability Roadmaps – unterstützen die individuelle
    Projektentwicklung in einer frühen Phase der Planung, Investitionsentscheidungen zu treffen, Projekte ganzheitlich
    aufzugleisen und nachhaltige Wertstabilität zu schaffen. Stellen Sie die Entwicklung zum grünen Asset mit Blick auf
    Reporting-Anforderungen und institutionelle Käufer sicher.
  </h3>

  <div class="partner-container">
    <h2>Unsere Partner</h2>
    <div class="logos-container">
      <Image
        class="partner-logo"
        src={bundesminLogo}
        alt="Rendering of a multi-story timber building"
      />
      <Image
        class="partner-logo"
        src={bayArchKammerLogo}
        alt="Rendering of a multi-story timber building"
      />
      <div class="dena-logo">
        <Image
          class="partner-logo"
          src={dennaLogo}
          alt="Rendering of a multi-story timber building"
        />
      </div>
      <Image
        class="partner-logo"
        src={energieEffExpLogo}
        alt="Rendering of a multi-story timber building"
      />
      <Image
        class="partner-logo"
        src={tumVentLabLogo}
        alt="Rendering of a multi-story timber building"
      />
      <Image
        class="partner-logo"
        src={uliLogo}
        alt="Rendering of a multi-story timber building"
      />
      <Image
        class="partner-logo"
        src={bayInnovLogo}
        alt="Rendering of a multi-story timber building"
      />
      <Image
        class="partner-logo"
        src={bayStaatsminWirtschaftLogo}
        alt="Rendering of a multi-story timber building"
      />
    </div>
  </div>
</BaseLayout>

<script>
  document.addEventListener("astro:after-swap", () => {
    window.loadLottie("animation01");
    window.loadLottie("animation02");
  });
  window.loadLottie("animation01");
  window.loadLottie("animation02");
</script>

<style>
  .hero-image {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 110%;
    max-height: 110%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    z-index: 2;
    user-select: none;
  }

  .animation01 {
    width: 100%;
    padding-left: var(--left-padding-general);
    padding-right: var(--right-padding-general);
  }

  .animation02 {
    margin-top: -2rem;
    margin-bottom: -4rem;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .partner-container {
    background-color: var(--background-body);
    padding-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1;
    margin-bottom: 15svh;
  }

  .logos-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .dena-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 50%, 180px);
  }

  @media (max-width: 1280px) {
    .msg {
      padding-left: var(--left-padding-desktop);
      padding-right: var(--right-padding-desktop);
    }

    .msg-primary {
      font-size: var(--primary-msg-size-desktop);
      line-height: var(--primary-msg-line-height-desktop);
      margin-top: 40svh;
      min-height: 70svh;
    }

    .msg-secondary {
      font-size: var(--secondary-msg-size-desktop);
      line-height: var(--secondary-msg-line-height-desktop);
      min-height: 30svh;
    }

    .sticky {
      padding-top: var(--sticky-padding-desktop);
    }

    .animation01 {
      padding-left: 5%;
      padding-right: 5%;
    }

    .animation02 {
      margin: 0;
    }

    .partner-container {
      padding-left: 5%;
      padding-right: 5%;
    }

    .logos-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .partner-logo {
      width: clamp(200px, 50%, 500px);
    }
  }

  @media (max-width: 625px) {
    .msg-primary {
      padding-left: var(--primary-left-padding-tablet);
      padding-right: var(--primary-right-padding-tablet);
      font-size: var(--primary-msg-size-tablet);
      line-height: var(--primary-msg-line-height-tablet);
      margin-top: 40svh;
      min-height: 70svh;
    }

    .msg-secondary {
      padding-left: var(--secondary-left-padding-tablet);
      padding-right: var(--secondary-right-padding-tablet);
      font-size: var(--secondary-msg-size-tablet);
      line-height: var(--secondary-msg-line-height-tablet);
      min-height: 30svh;
    }

    .animation01 {
      padding-left: 5%;
      padding-right: 5%;
    }

    .animation02 {
      margin: 0;
    }

    .sticky {
      padding-top: var(--sticky-padding-tablet);
    }

    .sticky::before {
      content: "BuildSystems";
      letter-spacing: 0.05rem;
      opacity: 0;
    }
  }

  @media (max-width: 420px) {
    .msg {
      padding-left: var(--left-padding-mobile);
      padding-right: var(--right-padding-mobile);
    }

    .msg-primary {
      font-size: var(--primary-msg-size-mobile);
      line-height: var(--primary-msg-line-height-mobile);
      margin-top: 40svh;
      min-height: 70svh;
    }

    .sticky::before {
      content: "BuildSystems";
      letter-spacing: 0.05rem;
      opacity: 0;
    }

    .msg-secondary {
      font-size: var(--secondary-msg-size-mobile);
      line-height: var(--secondary-msg-line-height-mobile);
      min-height: 30svh;
    }

    .sticky {
      padding-top: var(--sticky-padding-mobile);
    }

    .logos-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
</style>
