---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
import { Image } from "astro:assets";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_HEROIMAGE } from "../consts";
import heroRendering from "../assets/multistory-timber-building.jpg";
import energieEffExpLogo from "../assets/energieEffizienz.png";
import uliLogo from "../assets/uli_LogoHorizontal1805X168.png";
import bayStaatsminWirtschaftLogo from "../assets/bay-staat-wle.png";
import Button from "../components/Button.astro";
import ThreePillarsHorizontal from "../components/ThreePillarsHorizontal.astro";
import ThreePillarsVertical from "../components/ThreePillarsVertical.astro";
import Cover from "../components/Cover.astro"
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage={SITE_HEROIMAGE}
  current="">

  <Cover></Cover>

  <Image
    class="hero-image"
    src={heroRendering}
    widths={[300, 700, 1000, 1280, 1400, 1600, heroRendering.width]}
    sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, (max-width: 1000px) 1000px, (max-width: 1280px) 1280px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, ${heroRendering.width}px`}
    alt="Rendering of a multi-story timber building"
    loading="eager"
  />

  <div class="msg msg-primary">
    <h2 class="sticky">
      ermöglicht es, den Nachhaltigkeits&shy;anforderungen von morgen ökonomisch und technisch gerecht zu werden.
    </h2>
  </div>

  <div
    aria-label="Animation: Ökologische Bautätigkeit skalieren. Ökonomische Machbarkeit und Planungssicherheit garantieren. Konformität mit ESG und Förderrichtlinien gewährleisten."
    class="animation01 horizontal">
    <ThreePillarsHorizontal></ThreePillarsHorizontal>
  </div>
  <div
    aria-label="Animation: Ökologische Bautätigkeit skalieren. Ökonomische Machbarkeit und Planungssicherheit garantieren. Konformität mit ESG und Förderrichtlinien gewährleisten."
    class="animation01 vertical">
    <ThreePillarsVertical></ThreePillarsVertical>
  </div>

  <div class="msg msg-secondary">
    <h3>Impact Intelligence steht für eine hohe Performance in drei Bereichen:</h3>
    <ul>
      <li>Ihren ökologischen und sozialen Impact in der Gebäude&shy;entwicklung zu skalieren</li>
      <li>Das Potential Ihrer Assets optimal auszunutzen</li>
      <li>Ihr Portfolio langfristig innerhalb des Dekarbonisierungs&shy;pfads zu verorten</li>
    </ul>
    <p>
      Wir helfen Ihnen, die entscheidenden technischen und sozio&shy;ökonomischen Maßnahmen zu wählen, damit Sie Ihre
      Nachhaltigkeits&shy;ansprüche sicher und effizient erreichen.
    </p>
    <Button
      text="Services"
      link="/services"
      icon="redirect"
      ariaLabel="Go to Services page"
    />
  </div>

  <div class="msg msg-primary">
    <h2 class="sticky">
      ist eine technologie&shy;gestützte Nachhaltigkeits&shy;beratung. Wir stellen sicher, dass Ihre
      Projekt&shy;entwicklungen grün, zukunfts&shy;fähig sowie kalkulierbar und risikoarm sind.
    </h2>
  </div>

  <div
    aria-label="Animation: Smart Sustainability Roadmap"
    class="animation02">
    <LottieAnimation
      id="animation02"
      src="animations/smart-sustainability-roadmap.json"
      autoplay="visible"
    />
  </div>

  <h3 class="msg msg-secondary">
    Unsere Nachhaltigkeitsfahrpläne – die Smart Sustainability Roadmaps – unterstützen die individuelle
    Projektentwicklung in einer frühen Phase der Planung, Investitionsentscheidungen zu treffen, Projekte ganzheitlich
    aufzugleisen und nachhaltige Wertstabilität zu schaffen. Stellen Sie die Entwicklung zum grünen Asset mit Blick auf
    Reporting-Anforderungen und institutionelle Käufer sicher.
  </h3>

  <div class="partner-container">
    <h2>Unsere Partner</h2>
    <div class="logos-container">
      <a
        href="https://www.bmwk.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu bmwk.de - Bundesministerium für Wirtschaft und Klimaschutz der Bundesrepublik Deutschland">
        <svg role="img">
          <use xlink:href="/assets/partners.svg#bmwk"/>
        </svg>
      </a>
      <a
        href="https://www.byak.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu byak.de - Bayerische Architektenkammer">
        <svg role="img">
          <use xlink:href="/assets/partners.svg#bay-arch"/>
        </svg>
      </a>
      <a
        href="https://www.dena.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu dena.de - Deutsche Energie-Agentur GmbH">
        <svg class="dena-logo" role="img">
          <use xlink:href="/assets/partners.svg#dena"/>
        </svg>
      </a>
      <a
        href="https://www.energie-effizienz-experten.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu energie-effizienz-experten.de - Energie Effizienz Experten">
        <Picture
          src={energieEffExpLogo}
          formats={["avif", "webp"]}
          alt=""
        />
      </a>
      <a
        href="https://www.tum-venture-labs.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu tum-venture-labs.de - TUM Venture Labs">
        <svg role="img">
          <use xlink:href="/assets/partners.svg#tum-venture-labs"/>
        </svg>
      </a>
      <a
        href="https://germany.uli.org/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu germany.uli.org - Urban Land Institute (ULI) Germany / Austria / Switzerland">
        <Picture
          src={uliLogo}
          formats={["avif", "webp"]}
          alt=""
        />
      </a>
      <a
        href="https://www.bayern-innovativ.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu bayern-innovativ.de - Bayern Innovativ GmbH">
        <svg role="img">
          <use xlink:href="/assets/partners.svg#bay-innovativ"/>
        </svg>
      </a>
      <a
        href="https://www.stmwi.bayern.de/"
        target="_blank"
        class="partner-logo"
        aria-label="Link führt zu stmwi.bayern.de - Bayerisches Staatsministerium für Wirtschaft, Landesentwicklung und Energie">
        <Picture
          src={bayStaatsminWirtschaftLogo}
          formats={["avif", "webp"]}
          alt=""
        />
      </a>
    </div>
  </div>
</BaseLayout>

<style>
  .hero-image {
    position: relative;
    top: 0;
    left: 0;
    min-height: 105svh;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    z-index: 2;
    user-select: none;
  }

  .animation01 {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: var(--left-padding-general);
    padding-right: var(--right-padding-general);
  }

  .animation01.vertical {
    display: none;
  }

  .animation02 {
    margin-top: -2rem;
    margin-bottom: -4rem;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .partner-container {
    background-color: var(--background-body);
    padding-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1;
    margin-bottom: 15svh;
  }

  .logos-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .dena-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 60%, 200px);
  }

  @media (max-width: 1280px) {
    .animation01 {
      padding-left: calc(var(--left-padding-desktop) - 40px);
      padding-right: 5%;
    }

    .partner-container {
      padding-left: 5%;
      padding-right: 5%;
    }

    .partner-logo {
      width: clamp(200px, 50%, 500px);
    }
  }

  @media (max-width: 920px) {
    .animation01 {
      padding-left: var(--secondary-left-padding-tablet);
    }

    .animation02 {
      padding-left: var(--secondary-left-padding-tablet);
      padding-right: var(--secondary-right-padding-tablet);
      width: 100%;
    }

    .logos-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .partner-logo {
      width: 90%;
    }

    .dena-logo {
      width: clamp(100px, 60%, 180px);
    }
  }

  @media (max-width: 625px) {
    .animation01.vertical {
      display: block;
      width: 50%;
    }

    .animation01.horizontal {
      display: none;
    }

    .animation02 {
      margin: 0;
    }

    .partner-logo {
      width: 100%;
    }
  }

  @media (max-width: 420px) {
    .logos-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 4rem;
    }
  }
</style>
