---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import serviceAnimation from "../assets/service-building-options.webp";
import Button from "../components/Button.astro";
import StickyLogoMessage from "../components/StickyLogoMessage.astro";

const title = "BuildSystems | Services";
const description =
  "Wir stellen die relevanten Entscheidungsgrundlagen bereit, damit Sie den effizientesten Entwicklungspfad wählen, wirkungsvolle  Maßnahmen einleiten und Stakeholder koordinieren können.";
const image = "/images/services-smart-sustainability-roadmap.png";
---

<BaseLayout title={title} description={description} heroImage={image}>
  <div class="frame msg-secondary primary-margin-top">
    <h3>
      Wie schaffen wir es, die Herausforderungen der Bauwende zu bewältigen?
      Unsere Antwort lautet: Ganzheitlich! Deshalb unterstützen wir Sie auf
      verschiedenen Ebenen und individuell auf Ihre Bedürfnisse abgestimmt. Wir
      bestimmen Risiken, identifizieren Potentiale und optimieren Gebäude ebenso
      wie Prozesse. Dabei treiben wir stetig die Dekarbonisierung des Bausektors
      voran und ebnen den Weg zu Net Zero.
    </h3>
  </div>

  <StickyLogoMessage>
    <h2>
      ebnet den Weg zur <span class="font-secondary green"
        >Digi­ta­li­sie­rung</span
      > durch softwar­ege­stütz­tes Con­sul­ting. Dafür verbin­den wir die exis­tier­ende
      Praxis mit inno­va­tiven Prozes­sen und Tools..
    </h2>
  </StickyLogoMessage>

  <div class="frame image-text-grid">
    <div class="options-animation">
      <Image
        src={serviceAnimation}
        alt="Animation showing multiple options of components for the same project: A concrete building, a building with concrete floors and timber walls, a timber building."
      />
    </div>
    <div class="msg-tertiary">
      <p>
        Mit unserem Fokus auf Nach­haltigkeit und Innovation unterstützen wir
        Sie dabei, Ihre Immobilien und Prozesse digital zu transformieren und
        Ihre Effizienz zu steigern.  Digitalisierung und die daten­gestützte
        Auswertung Ihres Immobilien­portfolios sind der Schlüssel zu einer
        zukunfts­fähigen Verwaltung und Optimierung Ihrer Objekte. Wir sind Ihr
        Partner für eine nach­haltige Immobilien­strategie, die Ressourcen
        schont und langfristige Werte schafft. Lassen Sie uns gemeinsam die
        Chancen der Digitalisierung nutzen und Ihre Immobilien mit dem Blick auf
        die Anforderungen durch ESG und Dekarbo­nisierung für eine erfolgreiche
        Zukunft rüsten.
      </p>
      <div class="button-list">
        <Button
          text="Portfoliodigitalisierung"
          link="/services/digitalisierung#portfoliodigitalisierung"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Portfoliodigitalisierung section at Digitalisierung page"
          widthFitContent={true}
        />
        <Button
          text="Digitale Carbon Due Diligence"
          link="/services/digitalisierung#digitale-carbon-due-diligence"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Digitale Carbon Due Diligence of Digitalisierung section at digitalisierung page"
          widthFitContent={true}
        />
      </div>
    </div>
  </div>

  <StickyLogoMessage>
    <h2>
      be­glei­tet Sie zur Klima­neutra­lität. Ob operative und graue Emis­sionen
      oder Zirkula­rität, wir erarbeiten ge­mein­sam mit Ihnen Ziele der <span
        class="font-secondary green">Dekar­bo­ni­sie­rung</span
      >
      und er­schlie­ßen Handlungsräume.
    </h2>
  </StickyLogoMessage>

  <div class="frame image-text-grid">
    <div class="msg-tertiary">
      <p>
        Mit einem ganzheitlichen Ansatz unterstützen wir Sie dabei, Ihre
        Entwicklungen und Immobilien­portfolien langfristig umwelt­freundlich
        und ESG-konform aufzusetzen.  Investitionen in die Klima­neutralität
        lohnen sich – heute mehr denn je. Bestände sind durch kommerzielles oder
        funktionelles Stranding gefährdet und Unternehmen sehen sich Risiken wie
        z.B. dem Verlust von Markt­attraktivität und Umsatz­einbußen gegenüber,
        wenn Dekarbonisierungs­ambitionen nicht nach­gewiesen werden.
      </p>
      <p>
        Gemeinsam mit Ihnen setzen wir auf innovative Herangehens­weisen, um den
        CO2-Fußabdruck Ihrer Immobilien zu reduzieren und einen positiven
        Beitrag zum Klimaschutz zu leisten. Erreichen Sie mit uns als Partner
        die Anforderungen durch Taxonomie und CSRD, optimieren Sie Ihre
        Investitions­kosten und steigern Sie langfristig Ihren Immobilien­wert.
        Dafür kombinieren wir unser Experten­wissen in den Bereichen
        Nach­haltigkeit, Energie­effizienz und Digitalisierung.
      </p>
      <div class="button-list">
        <Button
          text="Strategieentwicklung ESG und Dekarbonisierung"
          link="/services/dekarbonisierung#strategieentwicklung-esg-und-dekarbonisierung"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Strategieentwicklung ESG und Dekarbonisierung section at Dekarbonisierung page"
          widthFitContent={true}
        />
        <Button
          text="Portfoliodekarbonisierung"
          link="/services/dekarbonisierung#portfoliodekarbonisierung"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Portfoliodekarbonisierung section at Dekarbonisierung page"
          widthFitContent={true}
        />
        <Button
          text="CRREM Analyse"
          link="/services/dekarbonisierung#portfoliodekarbonisierung"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to CRREM Analyse section at Dekarbonisierung page"
          widthFitContent={true}
        />
      </div>
    </div>
    <div class="crrem">
      <img src="/assets/crrem-analyse.svg" alt="CRREM Analyse chart" />
    </div>
  </div>

  <StickyLogoMessage>
    <h2>
      trans­for­miert <span class="font-secodary green"
        >beste­hende Immo­bi­lien</span
      > zu res­sour­cen­schon­en­den und mehr­wert­stif­ten­den Le­bens­räu­men,
      die lang­fris­tig wert­sta­bil und förder­fähig sind.
    </h2>
  </StickyLogoMessage>

  <div class="frame image-text-grid">
    <div class="animation03">
      <LottieAnimation
        id="animation03"
        src="/animations/services-eight-topics-diagram-small.json"
        autoplay="visible"
      />
    </div>
    <div class="msg-tertiary">
      <p>
        Wir verstehen Gebäude als langfristigen Baustein innerhalb des
        Stadtgefüges. Dabei tragen bedürfnis­orientierte Immobilien wesentlich
        zum gesellschaft­lichen Wohlbefinden, der Gesundheit und Produktivität
        der Nutzer:innen bei. Viele Bestands­gebäude sind heute durch Stranding
        bedroht, da sie den aktuellen Ansprüchen an die Funktionalität oder den
        energetischen Standard nicht gerecht werden und sich der Betrieb nicht
        mehr lohnt.
      </p>
      <p>
        Erarbeiten Sie mit uns gemeinsam eine Roadmap, wie Stranding­risiken
        abgewendet werden und die Repositionie­rung gelingen kann. Legen Sie das
        Narrativ der Repositionierung für Verkauf oder Finanzierung überzeugend
        dar und schlüsseln Sie notwendige Maßnahmen mit Blick auf Kosten,
        Förderungen und Impact auf.
      </p>
      <div class="button-list">
        <Button
          text="Fördermittel- und Energieberataung"
          link="/services/revitalisierung#energieberatung-und-individuelle-sanierungsfahrplaene"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Fördermittelberatung section at revitalisierung page"
          widthFitContent={true}
        />
        <Button
          text="Repositionierungskonzepte"
          link="/services/revitalisierung#repositionierungskonzepte"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Repositionierungskonzepte section at revitalisierung page"
          widthFitContent={true}
        />
        <Button
          text="Objektplanung"
          link="/services/revitalisierung#repositionierungskonzepte"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Baurechtschaffung section at revitalisierung page"
          widthFitContent={true}
        />
      </div>
    </div>
  </div>

  <StickyLogoMessage>
    <h2>
      steuert und op­ti­miert die Wirksam­keit Ihrer <span
        class="font-secondary green">Nachhal­tigkeits­planung</span
      >. Um­welt­ent­las­tung und ökono­mische Mach­bar­keit gehen dabei Hand
      in Hand.
    </h2>
  </StickyLogoMessage>

  <div class="frame image-text-grid">
    <div class="animation05">
      <img
        src="/animations/services-component-exploding.webp"
        srcset="/animations/services-component-exploding-250w.webp 250w,
        /animations/services-component-exploding-350w.webp 350w,
        /animations/services-component-exploding-450w.webp 450w,
        /animations/services-component-exploding-550w.webp 550w,
        /animations/services-component-exploding.webp 720w"
        sizes="
        (max-width: 280px) 250px,
        (max-width: 400px) 350px,
        (max-width: 720px) 450px,
        (max-width: 920px) 550px,
        720px
      "
        alt="Animation of a wall section, with the materials separating from each-other."
        loading="lazy"
        decoding="async"
      />
    </div>
    <div class="msg-tertiary">
      <p>
        Wir bieten Ihnen umfassende Fachplanung und planungs­begleitende
        Leistungen, die darauf abzielen, Gebäude ökologisch, sozial und
        wirtschaftlich nachhaltig zu gestalten. Von der Konzeption bis zur
        Umsetzung unterstützen wir Sie dabei, Ihre Bauprojekte unter
        Berücksichti­gung aktueller Standards und Zertifizier­ungen zu
        realisieren. Unsere Expertise umfasst nicht nur die Erfüllung von
        Nachhaltigkeits­kriterien, sondern auch die Optimierung von
        Energie­effizienz, Ressourcen­schonung und Nutzerkomfort. Gemeinsam
        gestalten wir eine Zukunft, in der Gebäude nicht nur funktional sind,
        sondern auch einen positiven Beitrag zur Gesellschaft und
        Umwelt leisten.
      </p>
      <div class="button-list">
        <Button
          text="Carbon Due Diligence"
          link="/services/nachhaltigkeitsplanung#carbon-due-diligence"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Carbon Due Diligence section at Nachhaltigkeitsplanung page"
          widthFitContent={true}
        />
        <Button
          text="Planungsbegleitende Leistungen"
          link="/services/nachhaltigkeitsplanung#planungsbegleitende-leistungen"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to Planungsbegleitende Leistungen section at Nachhaltigkeitsplanung page"
          widthFitContent={true}
        />
        <Button
          text="ESG und DGNB Consulting"
          link="/services/nachhaltigkeitsplanung#dgnb-consulting"
          openOnNewTab={false}
          icon="redirect"
          ariaLabel="Go to DGNB Consulting section at Nachhaltigkeitsplanung page"
          widthFitContent={true}
        />
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .frame h3 {
    margin-bottom: 10svh;
  }
  .animation03 {
    width: 100%;
  }

  .crrem {
    display: flex;
    height: 100%;
    align-items: start;
  }

  .button-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (max-width: 1100px) {
    .animation03 {
      width: 80%;
      margin: -5rem;
    }

    .options-animation {
      width: 80%;
    }

    .animation05 {
      width: 60%;
      margin: -1rem;
    }
  }

  @media (max-width: 625px) {
    .animation03 {
      margin: -3rem;
      width: 100%;
    }

    .options-animation {
      width: 100%;
    }

    .animation05 {
      width: 100%;
    }
  }
</style>
