---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import serviceAnimation from "../assets/service-building-options.webp";
import Button from "../components/Button.astro";
import WeitereFragen from "../components/weitereFragen.astro";

const title = "BuildSystems | Services";
const description =
  "Wir stellen die relevanten Entscheidungsgrundlagen bereit, damit Sie den effizientesten Entwicklungspfad wählen, wirkungsvolle  Maßnahmen einleiten und Stakeholder koordinieren können.";
const image = "/images/services-smart-sustainability-roadmap.png";
const current = "services";
---

<BaseLayout
  title={title}
  description={description}
  heroImage={image}
  current={current}>
  <div class="msg msg-secondary intro-breath">
    <p>Wie viel Nachhaltig&shy;keit möchten bzw. sollten Sie planen und umsetzen?</p>
    <p>
      &emsp;&emsp;Wir stellen die relevanten Entscheidungs&shy;grundlagen bereit, damit Sie den effizientesten
      Entwicklungs&shy;pfad wählen, wirkungs&shy;volle Maßnahmen einleiten und Stakeholder koordinieren können.
    </p>
  </div>

  <div class="msg msg-primary">
    <h2 class="sticky">
      behält neben Bedarfen, Anfor&shy;derungen und Funktio&shy;nalität besonders Ihre Benefits im Blick.
    </h2>
  </div>

  <div class="msg image-text-grid">
    <div class="animation03">
      <LottieAnimation
        id="animation03"
        src="/animations/services-eight-topics-diagram-small.json"
        autoplay="visible"
      />
    </div>
    <div class="msg-tertiary">
      <h3>Worauf Sie ein Auge haben sollten.</h3>
      <p>
        Wir identifizieren die wichtigsten Stells&shy;chrauben und zeigen auf, welche Kriterien zu vernachlässigen
        sind.Sie erfassen die Klimawirkung Ihrer Entscheidungen umfänglich und schaffen Trade-offs in der
        Emissionsreduktion.
      </p>
      <p>
        &emsp;&emsp;Unser systemischer Ansatz gewährleistet, dass Sie genau wissen, worauf Sie sich einlassen, welche
        Akteure im weiteren Verlauf eingebunden werden müssen und welche Eigenschaften Ihr Vorhaben erfüllen muss.
      </p>
      <Button
        text="Sneak Peek Roadmap"
        link="/downloads/BuildSystems_SneakPeekSSR.pdf"
        openOnNewTab={true}
        icon="download"
        ariaLabel="Download Sneak Peek of our Roadmap as a PDF file."
      />
    </div>
  </div>

  <div class="msg msg-primary">
    <h2 class="sticky">arbeitet mit dezidierten Benchmarks und Indikatoren, die klima-intelligent und bewährt sind.</h2>
  </div>

  <div class="msg image-text-grid">
    <div class="msg-tertiary">
      <h3>Wissen, was wirklich hilft!</h3>
      <p>
        Sie legen Zielvereinbarungen fest. Unsere Smart Sustainability Roadmaps vergleichen Szenarien zu Bedarfsplanung
        und Energiebetrachtung und prüfen Planungs&shy;ansätze hinsichtlich ihrer ESG-Performance. Wir legen die
        jeweiligen Aussichten auf Zertifizierungen und Förderungen nachvollziehbar dar und zeigen Pfade zu Emissions-
        und Kostenzielen auf.
      </p>
    </div>
    <div class="animation04">
      <Image
        src={serviceAnimation}
        alt="Animation showing multiple options of components for the same project: A concrete building, a building with concrete floors and timber walls, a timber building."
      />
    </div>
  </div>

  <div class="msg msg-primary">
    <h2 class="sticky">
      erstellt Vordimensio&shy;nierungen zu Anlagentechnik, Konstruktions&shy;methoden, Materialwahl und
      Wiederverwendungs&shy;potential.
    </h2>
  </div>

  <div class="msg image-text-grid">
    <div class="animation05">
      <img
        src="/animations/services-component-exploding.webp"
        srcset="/animations/services-component-exploding-250w.webp 250w,
        /animations/services-component-exploding-350w.webp 350w,
        /animations/services-component-exploding-450w.webp 450w,
        /animations/services-component-exploding-550w.webp 550w,
        /animations/services-component-exploding.webp 720w"
        alt="Animation of a wall section, with the materials separating from each-other."
      />
    </div>
    <div class="msg-tertiary">
      <h3>Wo die Reise hingeht:</h3>
      <p>
        Sie möchten frühzeitig im Prozess die entscheidenden Weichen stellen und Umplanungen vermeiden? Durch integrale
        Planung bilden wir technische Rahmen&shy;bedingungen bis zu einer Detailtiefe der Bauteilaufbauten ab. Wir
        übersetzen Anforderungen und Benchmarks in realistische Umsetzungs&shy;strategien – für heute und morgen.
      </p>
      <Button
        text="Download Leistungen"
        link="/downloads/BuildSystems_Leistungen.pdf"
        openOnNewTab={true}
        icon="download"
        ariaLabel="Download Leistungen PDF file."
      />
    </div>
  </div>

  <div class="msg msg-primary">
    <h2 class="sticky">steigert durch abgestimmte Prozesse baulichen Mehrwert.</h2>
  </div>

  <div class="msg table-grid">
    <h3>Entscheidungen treffen</h3>
    <ul>
      <li>
        Legen Sie Ihren Nachhaltigkeits&shy;fahrplan und entsprechende Erfolgskriterien für den weiteren Planungsverlauf
        fest.
      </li>
      <li>
        Prüfen Sie anhand der Simulation von bau-, anlagen und energie&shy;technischen Variantenstudien, die Wirkkraft
        der gewählten Maßnahmen und optimieren Sie anhand nachvollzieh&shy;barer Benchmarks.
      </li>
    </ul>
    <h3>Verantwortbar handeln</h3>
    <ul>
      <li>
        Vereinfachen Sie die Kommuni&shy;kation mit anschaulichen Reports und verantworten Sie Entscheidungen und die
        Mobilisierung von Finanzmitteln anhand eindeutiger Indikatoren.
      </li>
      <li>
        Stellen Sie die Machbarkeit mit einer integralen Herangehens&shy;weise sicher und minimieren Sie planerisches
        Risiko.
      </li>
    </ul>
    <h3>Sicher finanzieren</h3>
    <ul>
      <li>
        Beherrschen Sie frühzeitig Kosten und Finanzbedarf. Gewährleisten Sie Konformität mit Förderkriterien durch
        Vordimen&shy;sionierung und Real-Time-Bewertung.
      </li>
      <li>
        Stellen Sie durch Lebenszyklus&shy;orientierte Kosten&shy;betrachtungen langfristige Wert&shy;stabilität sicher.
      </li>
    </ul>
  </div>
  <WeitereFragen />
</BaseLayout>

<style>
  p {
    margin-top: 0;
  }

  p:has(~ p) {
    margin: 0;
    padding: 0;
  }

  .animation03 {
    width: 100%;
  }

  .image-text-grid {
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .table-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    & ul {
      font-size: 1.3rem;
      line-height: 1.45rem;
    }
  }

  @media (max-width: 1280px) {
    .table-msg {
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
  }

  @media (max-width: 1100px) {
    .image-text-grid {
      display: flex;
      flex-direction: column;
    }

    .animation03 {
      width: 80%;
      margin: -5rem;
    }

    .animation04 {
      width: 80%;
      margin: -6rem;
    }

    .animation05 {
      width: 60%;
      margin: -1rem;
    }
    .table-grid {
      grid-template-columns: 1fr 3fr;
      & ul {
        font-size: 1.2rem;
        line-height: 1.3rem;
      }
    }
  }

  @media (max-width: 920px) {
    .image-text-grid {
      padding-left: var(--primary-left-padding-tablet);
      padding-right: var(--primary-right-padding-tablet);
      & p {
        margin-bottom: 1rem;
      }
    }
    .table-grid {
      grid-template-columns: 1fr;
      padding-left: var(--primary-left-padding-tablet);
      padding-right: var(--primary-right-padding-tablet);
      & h3 {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 625px) {
    .animation03 {
      margin: -3rem;
      width: 100%;
    }

    .animation04 {
      width: 100%;
    }

    .animation05 {
      width: 100%;
    }

    .table-grid {
      & ul {
        font-size: 1.1rem;
        line-height: 1.2rem;
      }
    }
  }

  @media (max-width: 420px) {
    .image-text-grid {
      p {
        font-size: 1rem;
        line-height: 1.05rem;
      }
    }
    .table-grid {
      padding-left: var(--left-padding-mobile);
      padding-right: var(--right-padding-mobile);
      & ul {
        font-size: 1rem;
        line-height: 1.1rem;
      }
    }
  }
</style>
