---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCarousel from "../components/BlogCarousel/BlogCarousel.astro";
import { getAllPosts } from "../lib/notion/client";
import PersonenCard from "../components/PersonenCard.astro";
import StickyLogoMessage from "../components/StickyLogoMessage.astro";

const title = "BuildSystems | Team";
const description =
  "BuildSystems erschließt Potenziale der Umweltentlastung ganzheitlich. Deshalb beraten wir Sie toolunabhängig im interdisziplinären Team aus Nachhaltigkeits- und Softwarespezialisten.";
const image = "/images/buildsystems-team-steiermark.jpg";
const imageAlt = "BuildSystems team working";

const posts = await getAllPosts();
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  imageAlt={imageAlt}
>
  <div class="frame msg-secondary primary-margin-top">
    <h3>
      Wir vertreten nicht nur einen integralen Prozess in der Planung, wir leben
      Interdisziplinarität im Team: Jeder bringt einen Baustein der
      ganzheitlichen Betrachtung mit ein. Gemeinsam erfassen wir ökologische
      Anforderungen auf allen Ebenen und betrachten die Gesamtwirkung der
      Maßnahmen zur Emissionsreduktion durch die sozioökonomische Perspektive.
    </h3>
  </div>
  <StickyLogoMessage>
    <h2>führt Kompetenzen, Prozesse und Tools zusammen.</h2>
  </StickyLogoMessage>

  <div class="frame cards-container">
    <PersonenCard
      imagePath="/src/assets/martin-bittmann_profile.png"
      name="Martin Bittmann"
      title="Dipl.-Ing. Architekt"
      description="Berater der Bay. Architektenkammer (BEN), Energieeffizienz-Experte, DGNB Consultant, Nachhaltiges Bauen, Energetische Betrachtungen, Projektmanagement & -entwicklung"
      linkedin="https://www.linkedin.com/in/martin-bittmann/"
      email="martin.bittmann@buildsystems.de"
    />
    <PersonenCard
      imagePath="/src/assets/julia-dorn_profile.png"
      name="Julia Dorn"
      title="M.Sc. Urban Design, B.Sc. Architektur"
      description="DGNB Consultant und ESG Manager, Urbane Transformation, EU Taxonomie und Nachhaltigkeitsreporting, Kommunikation, Akteursmanagement & Moderation"
      linkedin="https://www.linkedin.com/in/julia-j-dorn/"
      email="julia.dorn@buildsystems.de"
    />
    <PersonenCard
      imagePath="/src/assets/daniel-dieren_profile.jpg"
      name="Daniel Dieren"
      title="M.Sc. Bauingenieur, M.Sc. Architektur"
      description="Energieeffizienz-Experte, Nachhaltiges Konstruieren, Ingenieurholzbau, Integrale Planung, Dekarbonisierung, LCA/LCC, Zirkuläres Bauen"
      linkedin="https://www.linkedin.com/in/daniel-dieren-48a765116/"
      email="daniel.dieren@buildsystems.de"
    />
    <PersonenCard
      imagePath="/src/assets/daniel-locatelli_profile.png"
      name="Daniel Locatelli"
      title="M.Sc. ITECH, Dipl. Architektur"
      description="Fullstack softwareentwicklung, Backend database management, Computational Design, Entwicklung digitaler Tools und Workflows"
      linkedin="https://www.linkedin.com/in/daniel-locatelli/"
      email="daniel.locatelli@buildsystems.de"
    />
    <PersonenCard
      imagePath="/src/assets/ulrich-kneisl_profile.png"
      name="Ulrich Kneisl"
      title="M.A. Architektur"
      description="Sozial-ökologische Transformation im Wohnungsbau, Bauen im Bestand, Intersektionalität im gebauten Umfeld, Systemische Ansätze für die Bauwende"
      linkedin="https://www.linkedin.com/in/ulrich-kneisl-292a60130/"
      email="ulrich.kneisl@buildsystems.de"
    />
    <PersonenCard
      imagePath="/src/assets/tunca-beril_profile.jpeg"
      name="Tunca Beril Basaran"
      title="B.Sc. Regional Planning, B.Sc. Sociology, M.Sc. Urban Design"
      description="Zirkuläre Systeme und Urban Mining, Workshops und Strategieentwicklung, Social Impact zukunftsfähiges Bauen"
      linkedin="https://www.linkedin.com/in/tunca-beril-basaran-a3580a147"
      email="tunca.b.basaran@buildsystems.de"
    />
    <PersonenCard
      imagePath="/src/assets/andreas-thoma_profile.png"
      name="Andreas Thoma"
      title="M.Sc. Architektur"
      description="Advisor: Prozessoptimierung, Computational Design, Digitale Fabrikation, Parametrische Systeme"
      linkedin="https://www.linkedin.com/in/andreas-thoma/"
      email="andreas.thoma@urbanscaletimber.com"
    />
    <PersonenCard
      imagePath="/src/assets/katrin-schwarz_profile.png"
      name="Katrin Schwarz"
      title="Dipl. Ing. Architektur"
      description="Advisor: Immobilien-Projektentwicklerin (EBS), ESG Reporting, Taxonomie-Konformität, Klimarisikoanalyse, Nachhaltige Projektentwicklung und Projektsteuerung"
      linkedin="https://www.linkedin.com/in/katrin-schwarz-b57b0322b/"
    />
  </div>
  <BlogCarousel posts={posts} />
</BaseLayout>

<style>
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    z-index: 2;
    margin-bottom: 20svh;
  }

  @media (max-width: 1280px) {
    .cards-container {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  @media (max-width: 920px) {
    .cards-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
</style>
