---
import Anchor from "../components/Anchor.astro";
import coverImage from "../assets/kfw-foerdertool-von-buildsystems_large.png";
import { Image } from "astro:assets";
import LandingLayout from "../layouts/LandingLayout.astro";

const title = "BuildSystems | Toolbox";
const description =
  "Unser Tool unterstützt Sie bei der früh­zeitigen Gegenüber­stellung von Bau­kosten, Fördermittel­potentialen und Nachhaltigkeits­anforderungen.";
const image =
  "https://buildsystems.de/images/kfw-foerdertool-von-buildsystems.jpg";
const imageAlt =
  "User holding a tabled with the BuildSystems app open on the Sanierung tool.";
---

<LandingLayout
  title={title}
  description={description}
  image={image}
  imageAlt={imageAlt}
  transition={true}
>
  <div
    class="flex flex-col items-start gap-0 lg:grid lg:max-h-screen lg:min-h-screen lg:grid-cols-2 lg:items-center lg:gap-16"
  >
    <Image
      class="h-[40svh] bg-[#111] object-cover sm:h-[50svh] md:h-[60svh] lg:h-screen"
      src={coverImage}
      widths={[300, 700, 1000, 1280, 1400, 1600, coverImage.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, (max-width: 1000px) 1000px, (max-width: 1280px) 1280px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, ${coverImage.width}px`}
      alt={imageAlt}
      loading="eager"
      transition:name="kfw-foerdertool-von-buildsystems"
    />
    <div
      class="relative flex h-[60svh] w-full flex-col items-start justify-around px-4 sm:h-[50svh] sm:px-8 md:h-[40svh] lg:h-auto lg:w-auto lg:justify-center lg:p-0"
    >
      <h1
        class="absolute -top-10 m-0 font-[--font-family-secondary] text-4xl! shadow-md sm:-top-14 sm:text-5xl! md:-top-16 lg:relative lg:top-0 lg:m-auto lg:shadow-none"
      >
        Fördertool
      </h1>
      <h2 class="my-4 text-2xl! leading-tight lg:m-0 lg:text-3xl!">
        Unser Tool unterstützt Sie bei der früh­zeitigen Gegenüber­stellung von
        Bau­kosten, Fördermittel­potentialen und Nachhaltigkeits­anforderungen.
      </h2>
      <p class="my-4 text-start leading-tight lg:text-lg">
        Vergleichen Sie verschiedene KfW-Förderprodukte in Bezug auf
        Anforderungen und finanzielle Vorteile durch Tilgungs­zuschüsse und
        vergünstigte Zinsen.
      </p>
      <div
        class="mt-4 mb-8 flex flex-col gap-1 *:w-full sm:gap-2 lg:mx-0 lg:mb-0 lg:flex-row lg:gap-8"
      >
        <Anchor
          icon="redirect"
          text="Neubau"
          openOnNewTab={true}
          link="https://app.buildsystems.de/neubau"
        />
        <Anchor
          icon="redirect"
          text="Sanierung"
          openOnNewTab={true}
          link="https://app.buildsystems.de/sanierung"
        />
        <Anchor
          icon="redirect"
          text="Einzelmaßnahmen"
          openOnNewTab={true}
          link="https://app.buildsystems.de/einzelmassnahmen"
        />
      </div>
    </div>
  </div>
</LandingLayout>
