---
import LandingLayout from "../layouts/LandingLayout.astro";
import { Image } from "astro:assets";
import coverImage from "../assets/heroimage-ipad-sanierung.png";
import Button from "../components/Button.astro";

const title = "BuildSystems | Toolbox";
const description =
  "Unser Tool unterstützt Sie bei der früh­zeitigen Gegenüber­stellung von Bau­kosten, Fördermittel­potentialen und Nachhaltigkeits­anforderungen.";
const image = "/images/heroimage-ipad-sanierung-public.jpg";
const imageAlt =
  "User holding a tabled with the BuildSystems app open on the Sanierung tool.";
---

<LandingLayout
  title={title}
  description={description}
  image={image}
  imageAlt={imageAlt}
  transition={true}
>
  <div class="tool">
    <Image
      class="tool__image"
      src={coverImage}
      widths={[300, 700, 1000, 1280, 1400, 1600, coverImage.width]}
      sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, (max-width: 1000px) 1000px, (max-width: 1280px) 1280px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, ${coverImage.width}px`}
      alt={imageAlt}
      loading="eager"
      transition:name="kfw-foerdertool-von-buildsystems"
    />
    <div class="tool__text">
      <h1>Fördertool</h1>
      <h2>
        Unser Tool unterstützt Sie bei der früh­zeitigen Gegenüber­stellung von
        Bau­kosten, Fördermittel­potentialen und Nachhaltigkeits­anforderungen.
      </h2>
      <p>
        Vergleichen Sie verschiedene KfW-Förderprodukte in Bezug auf
        Anforderungen und finanzielle Vorteile durch Tilgungs­zuschüsse und
        vergünstigte Zinsen.
      </p>
      <div class="tool__text__buttons">
        <Button
          icon="redirect"
          text="Neubau"
          openOnNewTab={true}
          link="https://app.buildsystems.de/neubau"
        />
        <Button
          icon="redirect"
          text="Sanierung"
          openOnNewTab={true}
          link="https://app.buildsystems.de/sanierung"
        />
      </div>
    </div>
  </div>
</LandingLayout>

<style>
  body {
    height: 100svh;
    overflow: hidden;
  }

  .tool {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 100svh;
    max-height: 100svh;
    gap: 4rem;
  }

  .tool__image {
    background-color: #111;
    object-fit: cover;
    height: 100svh;
  }

  .tool__text {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: clamp(400px, 80%, 700px);
  }

  h1 {
    font-family: var(--font-family-secondary);
  }

  h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  p {
    text-align: start;
    margin: 1rem 0;
    line-height: 130%;
  }

  .tool__text__buttons {
    color: white;
    display: flex;
    margin: 1rem 0;
    gap: 2rem;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }

  @media (max-width: 900px) {
    .tool {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
    .tool__image {
      height: 60svh;
    }
    .tool__text {
      height: 40svh;
      justify-content: space-around;
      padding: 0 4svw;
    }
    h1,
    h2,
    p,
    .tool__text__buttons {
      margin: 0;
    }
    h1 {
      position: absolute;
      top: -4rem;
      text-shadow: 1px 1px 3px #333;
    }
    .tool__text__buttons {
      margin-bottom: 4rem;
    }
  }
  @media (max-width: 600px) {
    .tool__image {
      height: 50svh;
    }
    .tool__text {
      height: 50svh;
      width: 100%;
    }
    .tool__text__buttons {
      margin-bottom: 2rem;
    }
    h1 {
      top: -3.5rem;
      font-size: 3.5rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    p {
    }
  }
  @media (max-width: 500px) {
    h2 {
      font-size: 1.6rem;
    }
  }

  @media (max-width: 400px) {
    .tool__image {
      height: 40svh;
    }
    .tool__text {
      height: 60svh;
    }
    h1 {
      top: -3rem;
      font-size: 3rem;
    }
  }

  @media (max-width: 300px) {
    .tool__text__buttons {
      gap: 1rem;
    }
    h1 {
      top: -2rem;
      font-size: 2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
</style>
