---
import * as interfaces from "../../../lib/notion-interfaces.ts";
import { buildHeadingId } from "../../../lib/blog-helpers.ts";
import RichText from "./RichText.astro";
import NotionBlocks from "../NotionBlocks.astro";

export interface Props {
  block: interfaces.Block;
  headings: interfaces.Block[];
  slug: string;
}

const { block, headings, slug } = Astro.props;

const id = buildHeadingId(block.Heading3!);
---

{
  block.Heading3!.IsToggleable ? (
    <details class="toggle">
      <summary class="heading__anchor">
        <a href={`#${id}`} id={id} class="anchor__icon">
          <svg class="icon">
            <use xlink:href={"/assets/icons.svg#anchor"} />
          </svg>
        </a>
        <h5>
          {block.Heading3!.RichTexts.map((richText: interfaces.RichText) => (
            <RichText richText={richText} />
          ))}
        </h5>
      </summary>
      <div>
        {block.Heading3!.Children && (
          <NotionBlocks
            blocks={block.Heading3!.Children}
            headings={headings}
            slug={slug}
          />
        )}
      </div>
    </details>
  ) : (
    <div class="heading__anchor">
      <a href={`#${id}`} id={id} class="anchor__icon">
        <svg class="icon">
          <use xlink:href={"/assets/icons.svg#anchor"} />
        </svg>
      </a>
      <h5>
        {block.Heading3!.RichTexts.map((richText: interfaces.RichText) => (
          <RichText richText={richText} />
        ))}
      </h5>
    </div>
  )
}

<style>
  h5 {
    margin: 0.9em 0 0.3em;
    color: var(--fg);
    font-size: 1.25rem;
  }
  @media (max-width: 640px) {
    h5 {
      font-size: 1.1rem;
    }
  }

  .heading__anchor {
    display: flex;
    position: relative;
  }

  .anchor__icon {
    opacity: 0;
    position: absolute;
    left: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.1em;
    padding-right: 1rem;
  }

  .icon {
    height: 20px;
    width: 20px;
    fill: var(--primary-color);
  }

  div:hover .anchor__icon {
    opacity: 1;
  }

  .toggle {
    margin: 1.2rem 0 0;
  }
  @media (max-width: 640px) {
    .toggle {
      margin: 1.1rem 0 0;
    }
  }

  .toggle > summary {
    cursor: pointer;
  }

  .toggle > summary > a {
    display: inline;
  }

  .toggle > summary > a > h5 {
    display: inline;
  }

  .toggle > div {
    margin-left: 1em;
  }
</style>
