---

// import type { ImageMetadata } from "astro";
// import { Image } from "astro:assets";

interface Props {
  text: string;
  link: string;
  downloadName?: string;
  openOnNewTab?: boolean;
  flex?: boolean;
  icon?: "download" | "redirect";
  ariaLabel?: string;
}

const { text, link, downloadName, openOnNewTab, flex, icon, ariaLabel } = Astro.props;

var target = "_self";
if (openOnNewTab) {
  var target = "_blank";
}

---

<a
  href={link}
  download={downloadName}
  target={target}
  aria-label={ariaLabel}
  >
  <button class:list={[{ flex: flex }]}
    >{
      icon != undefined && (
        <svg class="icon">
          <use xlink:href={"/assets/icons.svg#" + icon} />
        </svg>
      )
    }{text}</button
  >
</a>
<style>
  a {
    display: flex;
    text-decoration: none;
  }

  .flex {
    flex: 1;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-primary);
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0.2rem 0.8rem;
    color: var(--background-body);
  }

  .icon {
    margin-right: 0.5rem;
    height: 14px;
    width: 14px;
    fill: var(--background-body);
  }

  button:hover .icon {
    fill: var(--text-main)
  }

  button:hover {
    background-color: var(--background-body);
    color: var(--text-main);
    cursor: pointer;
  }
</style>
