---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatDate } from "../../utils/getPostData.ts";
import { Image } from "astro:assets";
import { getAllPosts } from "../../lib/notion/client.ts";
import { getPostLink, importCoverImage } from "../../lib/blog-helpers.ts";
import StickyLogoMessage from "../../components/StickyLogoMessage.astro";
import { SITE_HEROIMAGE, SITE_HEROIMAGEALT } from "../../consts";

const posts = await getAllPosts();

const title = "BuildSystems | Our Work";
const description =
  "BuildSystems baut auf Interdisziplinarität, Erfahrung und digitale Prozesse. Gemeinsam mit unseren Kund:innen und Partner:innen zeigen wir, wie nachhaltige Transformation im Immobiliensektor gelingen kann.";

// Get images
const images = await Astro.glob(
  "/src/assets/notion/**/*.{jpeg,jpg,png,tiff,webp,gif,svg,avif}"
);
---

<BaseLayout
  title={title}
  description={description}
  image={SITE_HEROIMAGE}
  imageAlt={SITE_HEROIMAGEALT}
  transition={true}
>
  <div class="frame msg-secondary primary-margin-top">
    <h3>
      Die Fragen der Bauwende sind vielerorts gleich, die jeweilige Umsetzung
      ist jedoch immer spezifisch. Unsere Arbeit baut auf Interdisziplinarität,
      Erfahrung und digitale Prozesse. Gemeinsam mit unseren Kund:innen und
      Partner:innen zeigen wir, wie nachhaltige Transformation gelingen kann.
      Dabei lernen wir voneinander und betrachten Projekte aus verschiedenen
      Perspektiven.
    </h3>
  </div>
  <StickyLogoMessage>
    <h2>
      arbeitet zwischen Forschung, öffentlicher Wissensbildung und einer
      ganzheitlichen Beratung und Planung. Damit bewegen wir uns zwischen
      strategischer Begleitung, Planungsleistungen und der Überführung von
      Wissen und Ergebnissen in die digitale Welt.
    </h2>
  </StickyLogoMessage>
  <div class="frame blog-container">
    {
      posts.map((post, index) => {
        const image = importCoverImage(post, images);

        const href = getPostLink(post.Slug);
        return (
          <>
            <a href={href} class="card-link" data-astro-prefetch>
              <div class="card">
                <div class="card-text">
                  <div class="category">{post.Category}</div>
                  <h3 class="title" transition:name={post.Slug + "-title"}>
                    {post.Title}
                  </h3>
                  <p class="description">{post.Description}</p>
                  <p class="date">{formatDate(new Date(post.PublishDate))}</p>
                </div>
                <div>
                  {image && (
                    <Image
                      class="cover"
                      transition:name={post.Slug + "-image"}
                      src={image}
                      alt={post.CoverAlt}
                      widths={[300, 400, 500]}
                      sizes={
                        "(max-width: 300px) 300px, (max-width: 400px) 400px, (max-width: 500px) 500px"
                      }
                    />
                  )}
                </div>
              </div>
            </a>
          </>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .blog-height {
    min-height: 45svh;
  }

  .blog-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding-top: 5svh;
    margin-bottom: 10svh;
  }

  .card-link {
    display: flex;
  }

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-cards);
    border-radius: var(--card-border-radius);
    padding: 2rem 1.5rem;
    gap: 0.5rem;
    justify-content: space-between;
    transition:
      filter 0.2s,
      transform 0.2s;
    will-change: transform;
  }

  .card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .card-text .title {
    text-wrap: balance;
    order: 2;
  }
  .card-text .category {
    order: 1;
  }
  .card-text .description {
    order: 3;
    font-size: 1rem;
    line-height: 1.1rem;
  }
  .card-text .date {
    order: 4;
  }

  .category {
    width: fit-content;
    border-radius: 0.3rem;
    padding: 0.1rem 0.8rem;
    margin-bottom: 1rem;
    color: var(--background-body);
    background-color: var(--text-main);
  }

  .description {
    flex: 1;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-after: 5;
    -webkit-hyphenate-limit-before: 7;
    -webkit-hyphenate-limit-chars: 13 5 7;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 12 4 4;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 12 4 4;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 12 4 4;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
  }

  .card:hover {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 1));
    transform: translate3d(0, -5px, 0);
  }

  .card:hover h3 {
    text-decoration: underline;
  }

  h3 {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 1rem;
  }

  .cover {
    aspect-ratio: 12/8;
    object-fit: cover;
    object-position: center;
    min-height: 100%;
    min-width: 100%;
    border-radius: var(--card-border-radius);
  }

  .date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  @media (max-width: 1280px) {
    .blog-height {
      min-height: 60svh;
    }

    .blog-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (max-width: 920px) {
    .blog-height {
      min-height: 45svh;
    }

    .blog-container {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 625px) {
    .blog-container {
      margin-bottom: 0;
      gap: var(--left-padding-mobile);
    }
  }
</style>
